[2018-05-13 11:30] #305 closed

[2018-05-14 23:57] camdagr8 opened #306 "Server Side Rendering + Express"
It appears that running this with Express doesn't work as expected according to the documentation here: https://github.com/webpack/webpack-dev-middleware#server-side-rendering

* Operating System: macOS High Sierra - 10.13.4
* Node Version: 9.2.1
* NPM Version: 4.6.1
* webpack version: 4.8.3
* webpack-dev-middleware Version: 3.1.3

- [ ] This is a **feature** request
- [X] This is a **bug**

### s

[2018-05-15 00:03] shellscape commented on #306
Happy to review a PR to resolve.

[2018-05-15 02:15] camdagr8 commented on #306
@shellscape I'm not sure how I can help if I can't figure out what the problem is or if it is actually a problem or expected behavior... but I guess `thanks` for acknowledging the issue? =/

[2018-05-16 09:14] quarterto opened #307 "TypeError: Cannot read property 'invalid' of undefined"
* Operating System: macOS 10.13.3
* Node Version: 8.11.1
* NPM Version: 5.6
* webpack version: 4.8.3
* webpack-dev-middleware Version: 3.1.3

- [ ] This is a **feature** request
- [x] This is a **bug**

### Code

about as simple as it gets:

[code]

### Expected Behavior
it doesn't throw an error

### Actual Behavior
it throws:

[code]

### How can we reproduce the behavior?

just try and run the

[2018-05-16 12:16] digiperfect-janak commented on #189
@Izhaki You are a lifesaver. For the life of me - why does webpack change the default!

[2018-05-18 09:35] LilanMadusankaSilva opened #308 "Webpack middleware not working after update from ASP.NET 2.1 to ASP.NET core 2.1-RC"
* Operating System: windows 10
* Node Version: v8.11.1
* NPM Version: 6.0.1
* webpack version: 4.8.3
* webpack-dev-middleware Version:
* webpack-dev-server : "3.1.4"
* webpack-hot-middleware : "2.22.2"

- [ ] This is a **bug**
ASP.NET core 2 aurelia project update from core 2.0 to core 2.1-rc then webpack middleware  throw below error

  | Name | Value | Type
-- | -- | -- | --
◢ | InnerException |

[2018-05-18 17:52] shellscape commented on #308
Thanks for the issue :beer:

There's a few things awry with this issue, however:

- you're reporting an issue for an unstable environment version
- you're reporting an issue for a dependency of the package you're using in your environment.
- nothing has changed while your environment version has

Please debug this issue in your environment with that package instead. If you find an exact cause that

[2018-05-18 17:52] #308 closed

[2018-05-21 04:07] full-stop opened #309 "Response Callback"
I used it for the first time, and a lot of it was not very clear, but it was very good, thank you for providing this middleware.

* Operating System: windows7
* Node Version:8.9.4
* NPM Version:5.6.0
* webpack version:3.11.0
* webpack-dev-middleware Version:2.0.6

- [x] This is a **feature** request
- [ ] This is a **bug**

### Code

My suggestion is can you add the support of template engine anal

[2018-05-21 04:37] LilanMadusankaSilva commented on #308
I will try and update you guys

[2018-05-21 16:20] Izhaki opened #310 "Unable to write asset to disk: TypeError: chalk is not a function"
* Operating System: OSX 10.12.6
* Node Version: 8.4.0
* NPM Version: 6.0.1
* webpack version: 4.8.1
* webpack-dev-middleware Version: 3.1.3

- [X] This is a **bug**

This relates to https://github.com/webpack/webpack-dev-middleware/issues/291

### Code

[code]

### Expected Behavior

Files being written to disk.

### Actual Behavior

[code]

### How can we reproduce the behavior?
It seems you only

[2018-05-22 06:47] TuKun33 commented on #283
i am use 'koa-webpack-middleware' to replace , then is working

[2018-05-27 14:50] shellscape commented on #309
Thanks for the issue. In the future please fill out the entire issue template and don't remove sections.

This seems like a very niche feature and I'm not sure there would be a widespread advantage to users. We'll leave this issue open for some time and if there is a large upvoting of the request we'll consider adding it.

[2018-05-27 15:33] shellscape commented on #310
Thanks for the issue 🍺

The semver pattern `^1.0.1` matches `1.2.0` so this is probably an issue on your end. All tests pass and a fresh install (npm 6.x should respect package-lock).

[2018-05-27 15:33] #310 closed

[2018-05-28 02:31] shenguotao2015 commented on #309
Thanks for the reply, I'll pay attention to the template later, yes, the support template engine is really small, but I feel it is very meaningful to provide a response callback, and we can do some custom functions based on this callback.

[2018-05-28 21:08] Izhaki commented on #310
Right then!

So there we have it... on a scale...

# Option 1: ~45 minutes per person.

People like me, who are going to get a `TypeError`; have no idea how to solve it; spend time figuring out why that is; hit a few confounds; possibly hitting this issue to learn you need a fresh install despite the fact that your lock file (locked to `1.0.1`) is valid.

All that time spent we could have done som

[2018-05-28 21:54] shellscape commented on #310
Yep, lockfiles can be tricky that's for sure. Fortunately you've gleaned a good deal of knowledge you can use in the future. I'm sorry you feel strongly about `webpack-dev-middleware` being broken and not working. Unfortunately the issue was hiding on your end.

The tone and timber in your last message has taken on a bit of a high tension direction, so I'm going to lock this one to contributors fo

[2018-06-29 20:15] David-OConnor commented on #229
I'm still having trouble with this. Using Create-React-App's Typescript version. When I run npm ls mime:

[code]

Are these the right versions of webpack, webpack-dev-server, and mime to make this work?

[2018-07-05 20:07] salemhilal commented on #239
@shellscape Sorry to dig this topic back up. I'm working on a pretty large project, and having files written in memory (in addition to all of the things webpack keeps around after a build) makes the memory footprint of a dev server quite large.

Instead of tricking webpack-dev-middleware into believing it's been given an in-memory filesystem when it's really doing otherwise (i.e. by extending `Mem

[2018-07-05 20:30] salemhilal commented on #239
@shellscape A fork may be a possible route. Can you speak more to the complexity you'd worry about?

[2018-07-06 17:15] DBosley opened #312 "Support webpack-cli options and/or webpack multiple configuration export"
Operating System: Ubuntu 18.04
Node Version: 8.11.1
NPM Version: 6.0.0
webpack Version: 4.12.0
webpack-hot-client Version: 4.0.3

- [x] This is a **feature** request
- [ ] This is a **bug**

### What is the motivation and/or use-case for the feature?
Webpack supports multiple configurations in a single file by exporting an array.
[Info Here](https://webpack.js.org/configuration/configuration-types

[2018-07-06 17:20] shellscape commented on #312
Thanks for opening an issue :beer:

`webpack-cli` is a mess of ad-hoc options added over time, so this would not be preferable. `webpack-command` is a vastly superior CLI, but even supporting all of the flags/options available on that would be bananas.

This would actually be much more preferable, as it's a targeted, specific use option. The important distinction here between a module like this an

[2018-07-06 17:28] DBosley commented on #312
This issue arose while using `webpack-serve` and the way I envisioned the end-result of the implementation would be to pass the cli arguments in when running `webpack-serve` in the cli. Somehow allowing these to pass them through to whatever webpack-cli you're using behind the scenes. At the same time, I assume `webpack-serve` and `webpack-dev-middleware` might not be using any sort of webpack-cli

[2018-07-06 17:43] shellscape commented on #312
Yeah take a quick peek at `package.json` and that'll tell you if a CLI is being used under the hood 😉

The `webpack-serve` CLI use-case is interesting. In that situation, you'd first need support for a `configName` option in this repo, and then request that `webpack-serve` support a `--config-name` flag.

[2018-07-07 09:08] ev1stensberg commented on #312
@shellscape This would align well in a separate repo that has a options file that both `serve` and `cli` can use. The feature wouldn't be hard to implement. Import the file and object assign on the file

[2018-07-07 10:12] seekwe opened #313 "Hot update bug"
* Operating System: Windows10
* Node Version: 10
* NPM Version: 5
* webpack version: 4.15
* webpack-dev-middleware Version:3.1.3

![](http://ww1.sinaimg.cn/large/63a61209gy1ft1kdney7vj20wj0i9abl.jpg)

![](http://ww1.sinaimg.cn/large/63a61209gy1ft1kffefn4j20n40ck3yx.jpg)

error:
![](http://ww1.sinaimg.cn/large/63a61209gy1ft1keux8zjj212x0h4dgy.jpg)

yes:
![](http://ww1.sinaimg.cn/large/63a61209gy1ft

[2018-07-07 12:59] shellscape commented on #313
Please report this issue with https://github.com/webpack/webpack

[2018-07-07 12:59] #313 closed

[2018-07-07 13:00] shellscape commented on #312
@ev1stensberg what? no. that would be a horrible architectural decision.

[2018-07-07 15:30] ev1stensberg commented on #312
Perhaps, but it's better than directly importing the config and depending on that. A hard copy in Dev server would make it harder to maintain features if/when they are removed, added or modified

[2018-07-07 15:34] shellscape commented on #312
I don't think you understand the conversation here. No one is talking about importing configs.

@DBosley I'll see about getting into this next week. It may not look exactly like the suggestions you had, but pretty sure I know how we can make this happen.

[2018-07-07 15:38] ev1stensberg commented on #312
I do, config -> yargs config. Makes it possible for us to bridge the libraries better. But seems like you got this under control.

[2018-07-14 20:27] NitroBAY opened #314 "[BUG] Compiling fails once the server has started."
* Operating System: Windows 10
* Node Version: 8.11.2
* NPM Version: 5.6.0
* webpack version: 4.16.0
* webpack-dev-middleware Version: 3.1.3

This is a **bug**

### Code

[code]
webpack.common.babel
[code]
webpack.development.babel.ts
[code]
json

package.json
[code]

development.ts

[code]

### Expected Behavior

### Actual Behavior
Webpack compiles when I `npm run build-dev`, the server starts w

[2018-07-14 20:28] NitroBAY commented on #314
ts-loader and html-webpack-plugin are installed and are present where the system tries in the folder that webpack is looking in.

[2018-07-14 20:36] NitroBAY commented on #314
Okay I needed to use `webpack-node-externals`... I've been wondering about this issue for tens of hours and suddenly figure out right after having filling this issue...

[2018-07-14 20:36] #314 closed

[2018-07-17 04:22] ajaymathur commented on #283
Hi, I am using `"webpack-dev-server": "^2.11.1"` and `"webpack": "^3.10.0",` but still get this issue. 🤔

[2018-07-17 04:29] shellscape commented on #283
@ajaymathur just glossed right over the comment on March 30th there didn't ya 🤔

[2018-07-17 04:39] ajaymathur commented on #283
I am using v2.11.1 for webpack-dev-server therefore, webpack v4 is not required. In my node_modules I see `"webpack": "^2.2.0 || ^3.0.0"` as peerDependency for webpack-dev-server.

If there is no instant fix lets ignore this, as I am using old version and I should rather concentrate on upgrading to latest versions. 🙂

[2018-07-17 04:40] ajaymathur commented on #283
@shellscape Sorry, I take back what I said. I looked at depndency of webpack-dev-server instead of middleware.

[2018-07-19 00:28] DBosley opened #315 "writeToDisk not working with webpack-serve (multiple configuration setup)"
Operating System: Ubuntu 18.04
Node Version: 8.11.1
NPM Version: 6.2.0
webpack Version: 4.12.0
webpack-hot-client Version: 4.0.3

- [ ] This is a **feature** request
- [x] This is a **bug**

### Code

For security and NDA reasons I can't share my full webpack config, but below are the specific parts that I think are relevent. If you need more, I'll try to provide what you need.
Paired with webpack

[2018-07-19 19:09] DBosley commented on #315
Thanks for the info about the middleware.webpack call. I changed it to this:

[code]
But that didn't fix my problem with writeToDisk.

Next, I tried using this minimal configuration:
[code]
and it still doesn't output the bundled files.
When running webpack directly, the files are output correctly.

[2018-07-20 18:18] DBosley commented on #315
Update on this issue:
I realized the reason it wasn't working at all was because my webpack-serve was out of date. I've updated that and it mostly works. There does still seem to be an issue when using a multiple-config webpack build. I only want one of the configurations I'm exporting to `writeToDisk` but when I declare it on the second config in the array it doesn't work. If I put the option in

[2018-07-21 01:16] shellscape commented on #315
Should we keep this open as a tertiary issue, or give it a close?

[2018-07-26 20:43] michaek commented on #279
It seems to me the original reporter is saying that HEAD requests should be handled as GET requests, just adding a `req.method !== 'HEAD'` to the conditional. It seems to me this wouldn't be harmful, but it may be nice to respond with empty content for a HEAD request. Currently I'm putting a another middleware in front of this to handle HEAD requests.

[2018-07-27 13:56] aaronbeall opened #316 "Provide webpack progress output"
* Operating System: MacOS High Sierra
* Node Version: v8.11.3
* NPM Version: 5.6.0
* webpack Version: 4.16.2
* webpack-serve Version: 2.0.2

- [x] This is a **feature** request
- [ ] This is a **bug**

### Request

I recently migrated from Webpack 3 and `webpack-dev-server` to Webpack 4 and `webpack-serve`. An issue I ran into is that `webpack-serve` doesn't provide any progress output. I logged a

[2018-07-27 13:58] evilebottnawi commented on #316
https://github.com/webpack-contrib/webpack-serve#community-add-ons (https://github.com/elisherer/webpack-serve-waitpage)

[2018-07-27 14:01] aaronbeall commented on #316
Yes I have tried that, that puts progress in a browser page, this request is for progress in the terminal window. [In the linked issue](https://github.com/webpack-contrib/webpack-serve/issues/253) I explain why progress in the serve browser page isn't right in my case.

[2018-07-27 14:06] shellscape commented on #316
@aaronbeall if you're interested in this feature, please open a Pull Request for the feature, as I mentioned in the linked issue.

You are working in a specialized environment, and it's not reasonable to expect a package project to do the work on a feature which (up to this point anyhow) has only been vocalized as being useful to you and your environment. If you'd like to see this feature be part

[2018-07-27 14:12] aaronbeall commented on #316
I find it pretty surprising that command line progress is considered a special need! Must say the transition from `webpack-dev-server` to `webpack-serve` has been bumpy.

[2018-07-27 14:14] shellscape commented on #316
Bummer. Thankfully that hasn't been the universal experience.

[2018-07-27 14:15] ev1stensberg commented on #316
@aaronbeall Andrew has put a lot of effort in trying to make it sublime, but he can’t cover all cases as well as it would be nice with some help now and then 😊

[2018-07-27 14:16] aaronbeall commented on #316
I'd be happy to help but I really have no knowledge about the inner workings of webpack or the dev server. Can you point me in the direction where such a feature could be added? It sounded like you weren't interested in such a feature, though?

[2018-07-27 14:23] ev1stensberg commented on #316
I think maybe Andrew would be the most qualified man to answer those questions

[2018-08-02 12:32] thomashibbard commented on #190
@tconroy Did you end up solving this?

[2018-08-10 05:46] agilgur5 commented on #269
Just spent a few hours debugging this and was super confused. Came here from the related issue in `webpack-serve`

As far I could tell, It seemed like there might be a need for a utility library for webpack libs to interpret `publicPath` options the same way as core webpack. WDM and `file-loader` seem to handle this differently, which was particularly confusing. `file-loader` handled relative path

[2018-08-13 17:55] henrylearn2rock commented on #229
Same here, when will the merged pull request be available? I'm still experiencing the problem in webpack-dev-server 3.1.5 which uses webpack-dev-middleware 3.1.3 (released on Apr 26, 2018), but the merge was carried out on Nov 22, 2017. Thanks!

[2018-08-14 08:20] svicalifornia opened #317 "Version number of webpack-log dependency is incorrect"
Issue #310 rightly pointed out that the version 1.0.1 of webpack-log does not work with webpack-dev-middleware, so "^1.0.1" is an invalid semvar dependency specification for this package. "^1.0.1" indicates that version 1.0.1 should work, which is false. The resolution of "^1.0.1" to a later version of webpack-log on a fresh install is not a valid argument, for multiple reasons:

1. It disregards

[2018-08-14 10:08] evilebottnawi commented on #317
@svicalifornia why just doesn't update own packages?

[2018-08-14 20:05] svicalifornia commented on #317
What part of this do you guys not understand? Your package.json needs to specify the correct version number ranges of the dependencies that you require. `"webpack-log": "^1.0.1"` is not correct, because webpack-dev-middleware doesn't work with version webpack-log 1.0.1.

The whole point of listing the dependencies in package.json is so that the package manager can decide what needs to be installed

[2018-08-20 18:15] evilebottnawi commented on #317
/cc @michael-ciniawsky

[2018-08-20 18:24] ferdinando-ferreira opened #320 "New option: acceptedMethods, to allow for the middleware to process and respond to other methods other than just GET"
* Operating System: Windows
* Node Version: 8.9.4
* NPM Version: 6.4.0
* webpack version: 4.16.5
* webpack-dev-middleware Version: 3.1.3

- [x] This is a **feature** request
- [ ] This is a **bug**

### What is the motivation and/or use-case for the feature?
It would be useful to be able to signal to the middleware that, instead of only GET, it should process other HTTP request methods (like POST,

[2018-08-20 18:25] svicalifornia commented on #317
My exasperation above resulted from reading through the first attempt to get this fixed in #310, seeing it dismissed for no good reason, and then seeing the same thing happen again when I re-raised the issue herein. I'm not understanding why there have been so many defenses or shrugs from the maintainers regarding a bad dependency spec, especially after it is reported by multiple users of this lib

[2018-08-20 18:36] michael-ciniawsky commented on #317
There is no harm in bumping the dependency to start from `^1.2.0` (more the opposite) instead of `^1.0.1`, especially when mutliple user report problems in this area. I don't really understand the fuss here :). Normally folks need to update there lockfiles if stuck on an outdated version correct, but the issue here is that 'outdated' means **broken**, so better bump to the minimum to the last work

[2018-08-20 18:44] #317 closed

[2018-08-20 19:09] svicalifornia commented on #317
Thank you.

[2018-08-21 12:06] evilebottnawi commented on #320
Solved https://github.com/webpack/webpack-dev-middleware/commit/504171a8a8008e5bdc6addd3f823befae9bf1eda

[2018-08-21 12:06] #320 closed

[2018-08-21 12:07] evilebottnawi commented on #315
/cc @DBosley friendly ping

[2018-08-21 12:07] evilebottnawi commented on #309
/cc @shenguotao2015

[2018-08-21 12:08] michael-ciniawsky opened #325 "Merge `options.logLevel` && `options.logTime` into `options.logger`"

[2018-08-21 12:11] michael-ciniawsky opened #326 "Rename `options.mimeTypes` to `options.mime(s)`"

[2018-08-21 12:12] michael-ciniawsky opened #327 "Remove `options.serverSideRender`"

[2018-08-21 12:14] michael-ciniawsky opened #328 "Rename `options.watchOptions` to `options.watcher`"

[2018-08-21 12:33] michael-ciniawsky commented on #328
I would like to use project cards instead, but I still don't have access to this repo :). Will close redundant issues once I'm able to

[2018-08-21 12:34] michael-ciniawsky commented on #328
These are just rough ideas for discussion

[2018-08-21 13:55] michael-ciniawsky commented on #325
https://github.com/webpack/webpack-dev-middleware/projects/1

[2018-08-21 13:55] #325 closed

[2018-08-21 13:57] michael-ciniawsky commented on #327
https://github.com/webpack/webpack-dev-middleware/projects/1

[2018-08-21 13:57] #327 closed

[2018-08-21 13:57] michael-ciniawsky commented on #326
https://github.com/webpack/webpack-dev-middleware/projects/1

[2018-08-21 13:57] #326 closed

[2018-08-21 13:59] michael-ciniawsky commented on #328
https://github.com/webpack/webpack-dev-middleware/projects/1 We need to observe if we are confortable with this way of tracking progress and what works or and what doesn't (so experimental :))

[2018-08-21 13:59] #328 closed

[2018-08-23 08:51] fmagaldea commented on #316
As a workaround, you can use webpack internal plugin 'ProgressPlugin' https://github.com/webpack/docs/wiki/internal-webpack-plugins#progresspluginhandler.
It will provide you a basic cli output.

In your webpack.config.js:
[code]

[2018-08-23 17:38] michael-ciniawsky commented on #298
This is the intended behavior, `lazy` triggers a rebuild on each *request* despite the fact if files changed or not as it ignores watching them

[2018-08-23 17:38] #298 closed

[2018-08-23 17:40] michael-ciniawsky commented on #306
#330 The `serverSideRender` option is either being revamp in the next major version or removed in its current form , anyone interest in the SSR story for WDM, please continue discussion in the mentioned PR :)

[2018-08-23 17:40] #306 closed

[2018-08-23 17:41] michael-ciniawsky commented on #300
Feel free to reopen if more infomation is provided :)

[2018-08-23 17:41] #300 closed

[2018-08-23 17:58] michael-ciniawsky commented on #315
If there are still regressions feel free to reopen :)

[2018-08-23 17:58] #315 closed

[2018-08-23 18:00] michael-ciniawsky commented on #316
@aaronbeall Would the potential solution suggested by https://github.com/webpack/webpack-dev-middleware/issues/316#issuecomment-415341965 be sufficient for your use case ?

[2018-08-24 19:44] michael-ciniawsky commented on #316
Feel free to reopen or to fill a new issue if that doesn't work out for you

[2018-08-25 19:01] sodatea opened #333 "Ancestor directory names containing a leading hash not supported"
* Operating System: macOS High Sierra 10.13.6
* Node Version: v10.9.0
* NPM Version: 6.4.0
* webpack version: 4.17.1
* webpack-dev-middleware Version: 3.1.3

- [ ] This is a **feature** request
- [x] This is a **bug**

### For Bugs; How can we reproduce the behavior?

There are several bug reports in vue-cli repository related to this bug:

- https://github.com/vuejs/vue-cli/issues/2342
- https://

[2018-08-27 12:47] alexander-lebed commented on #205
Make sure you use the right port

[2018-08-27 21:35] henrylearn2rock commented on #229
just updated to webpack-dev-server @ 3.1.6
which depends on webpack-dev-middleware@3.2.0

Still the same error. Thanks.

[2018-09-03 22:54] thijstriemstra commented on #229
Ended up using this `before` handler for webpack-dev-server:

[code]

[2018-09-11 09:02] courteous commented on #229
@thijstriemstra  i have tired copy pasting exactlly you devServer config but i am getting different error then i deleted to root:contentBase and dotfile: denies, and i still get   "Error: ENOENT: no such file or directory, stat '/dist/mainTest.wasm'. could you please post your whole webpack.confg.js?

[2018-09-11 09:30] thijstriemstra commented on #229
@courteous see https://github.com/collab-project/videojs-record/blob/master/build-config/fragments/dev.js

[2018-09-16 12:35] KenilDomadia opened #338 "webpack-dev-middleware recompiles all files when using webpack array of configuration"
`webpack-dev-middleware` when used with array of webpack configuration - it recompiles all files instead of just recompiling the file that was affected.

For example, if I have webpack config as  below:

[code]

From above example -  Any change in `src/mobile/index.js`, will result in recompilation/rebuild of `desktop.js` as well. I expect the webpack-dev-server should recompile just the file that

[2018-09-21 12:40] #333 closed

[2018-09-23 16:36] HaNdTriX opened #339 "Swallows all async errors in server context"
### Environment

It believe this issue applies to all versions. Nevertheless here is my env:

* Operating System: MacOS 10.13.6
* Node Version: v10.9.0
* NPM Version: 6.2.0
* webpack version: ^4.17.1
* webpack-dev-middleware Version: ^3.2.0

- [x] This is a **bug**

### Code

https://github.com/HaNdTriX/webpack-dev-middleware-bug

### Expected Behavior

webpack-dev-middleware should not modify the

[2018-09-23 16:42] timneutkens commented on #339
This is something Next.js users are running into when errors are thrown out of band.

[2018-09-23 16:44] michael-ciniawsky commented on #339
I'm in favor of removing the dependency on `loud-rejection` (if possible) and will checkout the repo. Feel free to open a PR proposing potential removal if you already have something in mind, I need to get on track here first tbh :)

[2018-09-24 18:39] SpaceK33z commented on #339
Published as `webpack-dev-middleware@3.4.0`, thanks again @HaNdTriX!

[2018-10-08 03:30] zgj233 opened #341 "Excuse me, how about use this lib in koa."
my code
[code]

but throw error
[code]

thanks. 😁

[2018-10-08 06:02] michael-ciniawsky commented on #341
[koa-webpack](https://github.com/shellscape/koa-webpack)

[2018-10-08 06:02] #341 closed

[2018-10-09 02:48] zgj233 commented on #341
thanks

[2018-10-10 16:30] spmsupun commented on #205
You have two watch command running in separate window, if it's not visible try restarting the node (or pc)

[2018-10-21 09:28] wellingfine opened #343 "Got error file path in 3.4.0 with path.posix.join"
Please see the runtime result below , I turn on debugger in vscode ,and add 4 variables
![image](https://user-images.githubusercontent.com/1908803/47264843-dc9a4d80-d550-11e8-9c02-ab6170a51a16.png)

* Operating System: win10
* Node Version: 8.11.4
* NPM Version:5.6.0
* webpack version:4.21.0
* webpack-dev-middleware Version:3.4.0

- [ ] This is a **feature** request
- [x] This is a **bug**

### Ex

[2018-10-24 06:11] apexearth commented on #343
I'm not sure if we were having the same problem, but...

I had my webpack output path set to `__dirname + '/../build'` and I was unable to get results.
I stepped through the webpack-dev-middleware to see that path.posix.join was giving that a `build/` prefix when getting the filename [here](https://github.com/webpack/webpack-dev-middleware/blob/master/lib/util.js#L94). This meant that requesting a

[2018-10-24 09:33] evilebottnawi commented on #343
@alanpearce expected, don't use mix `/` and `\`
@wellingfine can you create minimum reproducible test repo? Looks like regression.

[2018-10-24 09:35] evilebottnawi commented on #312
@DBosley can you provide example how you can see this implementation?

[2018-10-27 10:38] wellingfine commented on #343
@apexearth Agree !Need to preprocess the output path.
@evilebottnawi I make a repo at local .Find out that's not only the mix `/` and `\`,
[code]
So it is the three symbol `..` `/` `/` together cause my problem... Preprocessing output path is one of the solutions . If someone forget about it , may get the same problem :-(

Finally I advice using `path.join` at [here](https://github.com/webpack/web

[2018-10-27 10:38] #343 closed

[2018-10-29 23:50] stevenvachon opened #344 "Option to customize log name"
* Operating System: macOS 10.14
* Node Version: 10.11.0
* NPM Version: 6.4.1
* webpack version: 4.20.2
* webpack-dev-middleware Version: 2.0.6

- [x] This is a **feature** request
- [ ] This is a **bug**

### Code

[code]

### For Features; What is the motivation and/or use-case for the feature?
"wdm" is not clear what it is and looks a bit confusing.

[2018-10-30 09:14] evilebottnawi commented on #344
@stevenvachon Why? What is use case? It is bad practice add new option just "if you change name because you want"

[2018-10-30 11:36] evilebottnawi commented on #344
@stevenvachon not sure we really need this, adding new options increase complex of program/library and implement it only because "i (my team) want something" is not enough for this, please describe **real** use case why it is `confusing` and where is `confusing`.

[2018-10-30 16:46] stevenvachon commented on #344
Because just do it.

[2018-10-30 16:46] #344 closed

[2018-11-03 16:07] ZaynJarvis commented on #205
Try to add this `<base href="/" />` to `<head>` of `index.html`.
Solution got from [here](https://github.com/webpack/webpack/issues/2882)
This is because of HTML rendering.
`<base>` is to set something like a root node.

[2018-11-09 13:41] ovikholt opened #345 "Change logging output name from 'wdm'"
Running
$ npm test

we get

### Actual Behavior

ERROR in ./tests/routes/Progress/components/Carousel.spec.coffee
Module not found: Error: Can't resolve 'enzyme' in '.../tests/routes/Progress/components'
 @ ./tests/routes/Progress/components/Carousel.spec.coffee 7:0-32 13:24-30
 @ ./tests sync \.(spec|test)\.(js|ts|tsx|coffee|litcoffee|coffee\.md)$
 @ ./tests/test-bundler.js
ℹ ｢**wdm**｣: Failed to

[2018-11-09 13:48] evilebottnawi commented on #345
No need

[2018-11-09 13:58] evenstensberg commented on #345
What we could do is to change the [ on each side of the name to support windows. On widows it results in a question mark

[2018-11-09 14:07] evilebottnawi commented on #345
@evenstensberg hm, what is problem with name?

[2018-11-09 14:17] evenstensberg commented on #345
Nothing, but the brackets around it is not supported on windows

[2018-11-09 14:50] evilebottnawi commented on #345
@evenstensberg Looks this issue is not about `[` abd `]`

[2018-11-10 16:11] evenstensberg commented on #345
Indeed, just giving some feedback while at it

[2018-11-11 19:58] webmasterslava opened #346 "setting mimeTypes option falls with error"
setting mimeTypes option falls with error:
[code]

replace
`mime.define(options.mimeTypes);`
by
`mime.define(options.mimeTypes, true);`

[2018-11-11 20:18] evenstensberg commented on #346
Isn't this something you could change in your `php.ini`/`.htaccess`? This would only supress the warning, but warnings are nice for different scenarios.

Could you provide a better elaboration of what you are trying to accomplish? Is it loading a php file? If so, then this should be sufficient as long as your proxy is defined correctly.

[2018-11-11 20:36] webmasterslava commented on #346
1) It's not a warning, it's error that doesn't allow to run node.js app that uses webpack-dev-middleware.
2) it's not related with php, php is just an example, I can use any other mime type that is already exists in the default list of mime types, and it will fall with error when I start node.js app.

[2018-11-12 14:37] gpoitch commented on #345
I agree "wdm" is odd to a user who didn't integrate the middleware.  It would be nice to suppress these logs completely but lowering the `logLevel` hides all build output.

[2018-11-14 04:52] aikar commented on #345
i would prefer 'webpack'. dev middleware is a useless detail to the user viewing the logs.

pre the v4 update i manually added a webpack prefix to my logs. but would be nice if the prefix was more intuitive, or least configurable.

[2018-11-26 04:22] alvinkl opened #347 "[Bug] Compiling fails when server starts"
* Operating System:
* Node Version: v10.11.0
* NPM Version: 6.4.1
* webpack version: 4.20.2
* webpack-dev-middleware Version: 3.4.0

- [ ] This is a **feature** request
- [X] This is a **bug**

### Background
I am building a framework and using webpack-dev-middleware for HMR on development and running it on example project but webpack-dev-middleware doesn't work as expected.

### Code
/build/webpa

[2018-11-26 10:08] evilebottnawi commented on #347
@alvinkl Please create minimum reproducible test repo

[2018-11-26 10:09] evilebottnawi commented on #347
Also looks problem in loader

[2018-11-27 01:17] alvinkl commented on #347
Here you go https://github.com/alvinkl/wdm-example-error

To reproduce the error, you can try to run
[code]

The Webpack config can be found at `packages/framework/build/webpack`
The custom loader I made can be found at `packages/framework/build/loaders`
The default server that execute WDM can be found at `packages/framework/server/

[2018-11-27 01:19] alvinkl commented on #347
If the problem is in the loader, I wonder why it builds successfully before I apply WDM, am I missing something here?

[2018-11-28 02:18] alvinkl commented on #347
@evilebottnawi here you go https://github.com/alvinkl/wdm-example-error. I've reduced the repo code.

[2018-11-28 09:44] evilebottnawi commented on #347
@alvinkl thanks!

[2018-11-28 10:20] evilebottnawi commented on #347
@alvinkl Why you build webpack? Open you `.zoners/server.js` and look on file content, you build `webpack` using `webpack` with all plugins and loaders and many of their doesn't work in browsers. It is not problem in `webpack-dev-middleware`. You can find here information how use can use `webpack` with existing server https://github.com/webpack-contrib/webpack-hot-middleware. Also when you need cr

[2018-11-29 01:20] alvinkl commented on #347
@evilebottnawi oh wow!!! that was a silly mistake, I build the `webpack` with all the plugins inside it.
I was debugging this for more than 2 days and kinda frustrated a bit. All because that silly `Server` config :disappointed:
Thank you so much for your help.
I think we can close this issue since this is not a bug from WDM but rather my code.

[2018-11-29 01:20] #347 closed

[2018-12-11 22:58] gpoitch commented on #346
Just hit this issue.  I believe it happens when you have multiple webpack configs (e.g. client & server) so `mime.define` gets called twice with the same thing and that module throws the error.

"By default this method will throw an error if you try to map a type to an extension that is already assigned to another type. Passing true for the force argument will suppress this behavior (overriding an

[2018-12-12 09:44] evilebottnawi commented on #346
@gpoitch thanks for answer, can you send this to README?

[2018-12-12 15:42] gpoitch commented on #346
@evilebottnawi Still need to figure out the best solution.

1. Update the code here with the force flag as @webmasterslava  suggests `mime.define(options.mimeTypes, true)`
2. Expose an option to set the flag
3. Tell people to add their own code to manage only setting it once
4. PR to node-mime so it doesn't throw when defining a mime to the same thing it's already set to.

[2018-12-12 15:48] evilebottnawi commented on #346
@gpoitch i think 2 solution is better, in some cases it is normal throw error, but we allow for other force define.

[2018-12-12 16:53] gpoitch commented on #346
https://github.com/webpack/webpack-dev-middleware/pull/349

[2018-12-12 17:11] gpoitch opened #350 "Unwanted charset=UTF-8 always added to custom mime types"
* Operating System: macOS 10.14
* Node Version: 10.4.1
* NPM Version: 6.4.1
* webpack version: 4.27.1
* webpack-dev-middleware Version: 3.4.0

- [x] This is a **feature** request
- [x] This is a **bug**

Since https://github.com/webpack/webpack-dev-middleware/pull/136, `charset=UTF-8` is always appended to the Content-Type header.  If I define custom mime types, I believe that this shouldn't be ap

[2018-12-12 17:19] evilebottnawi commented on #350
@gpoitch hm, sound reasonable, any ideas how we can detect when we need add `charset` when not?

[2018-12-12 17:38] gpoitch commented on #350
@evilebottnawi yes, after some digging looks like it should be added only if charset is defined for the type in mime-db (https://github.com/jshttp/mime-db/blob/master/db.json)

[2018-12-13 09:31] evilebottnawi commented on #338
@KenilDomadia please create minimum reproducible test repo

[2018-12-13 09:32] evilebottnawi commented on #302
@nikwen friendly ping, want to send a PR?

[2018-12-13 09:33] evilebottnawi commented on #309
/cc @justablob Do you want send a PR

[2018-12-13 12:52] nikwen commented on #302
I don't have time for fixing this myself, sorry. ;)

[2018-12-13 15:18] gpoitch commented on #350
https://github.com/webpack/webpack-dev-middleware/pull/351

[2018-12-13 15:38] evilebottnawi commented on #345
@gpoitch

Can you clarify?

Sounds resonable

[2018-12-13 15:47] gpoitch commented on #345
Simply suggesting changing the default log prefix from 'wdm' to 'webpack' (@aikar suggested this too) as a first step because no one knows what 'wdm' means as a user/on a team unless you personally integrated this middleware.

[2018-12-13 15:56] evilebottnawi commented on #345
@gpoitch in other side `webpack` is misleading, because this output generated not `webpack`, it is generated `webpack-dev-middleware`, other plugins/middlewares/etc also can generate information, why we use `wdm`, because `webpack-dev-middleware` have long name in console and it is looks very bad.

[2018-12-13 16:08] gpoitch commented on #345
@evilebottnawi that is a fair point.  Adding it as an option would satisfy all parties then.

I personally don't want these logs at all and just the stats, hence my logLevel suggestion but that is somewhat separate from the original issue now.

[2018-12-13 16:20] evilebottnawi commented on #345
@gpoitch yep, feel free to send a PR with improving `logLevel`, don't think we really need change name right now, also it is not high priority

[2019-01-01 22:45] clshortfuse opened #354 "bug: unknown mime type sets Content-Type as 'null; charset=UTF-8'"
* Operating System: Mac OS X
* Node Version: v8.11.3
* NPM Version: 6.5.0
* webpack version: 4.18.0
* webpack-dev-middleware Version: 3.4.0

- [ ] This is a **feature** request
- [X] This is a **bug**

### Code

[code]

### Expected Behavior

Unknown mime-types should return a blank media-type in Content-Type

### Actual Behavior

`media-type` is being listed as null

### For Bugs; How can we repr

[2019-01-14 12:14] Foxhoundn opened #358 "Old files are being served in dev mode, restarting server, clearing cache does not help"
I can literally delete all app files, wait for recompile, shut down the server, start the server, go to the url and the app loads like I didn't delete nothing - what's going on?

Some info:

- Version used was 1.12.*
- Starting the server with `babel-node server.js`

Webpack config -

[code]

Server config
[code]

Please help

- Webpack does complain about missing files but the app works in the br

[2019-01-15 00:12] Foxhoundn commented on #358
I'm closing on 35 hours on SOLELY this issue, please any help is appreciated. I've tried everything i've found on the net, restarting computer, but NOTHING is making webpack-dev-middleware serve latest files.

Is there a .cache folder I can delete or something?

[2019-01-15 09:35] evilebottnawi commented on #358
Please create minimum reproducible test repo

[2019-01-15 14:44] MonochromeChameleon opened #359 "ConcurrentCompilationError with lazy: true when multiple entry points present"
* Operating System: macOS High Sierra
* Node Version: 10.15.0
* NPM Version: 6.5.0
* webpack version: 4.28.4
* webpack-dev-middleware Version: 3.5

- [ ] This is a **feature** request
- [X] This is a **bug**

### Code

[code]

[code]

[code]

[code]

[code]

### Expected Behavior

All assets should be compiled and served, allowing the page to load

### Actual Behavior

Behaviour is as expected whe

[2019-01-15 14:55] evilebottnawi commented on #359
Why you use `lazy`?

[2019-01-15 15:06] MonochromeChameleon commented on #359
@evilebottnawi Some platforms don't properly support filesystem watch e.g. when running an app inside docker on Windows 7. `lazy` bypasses that problem

[2019-01-15 15:09] evilebottnawi commented on #359
@MonochromeChameleon why don't use `poll: true`? It is normal using this for filesystem what doesn't support watch.

Also can you create minimum reproducible test repo?

[2019-01-15 15:18] MonochromeChameleon commented on #359
@evilebottnawi I don't see poll as a documented option?

test repo is now here: https://github.com/MonochromeChameleon/wdm-lazy-bug

[2019-01-15 15:59] MonochromeChameleon commented on #359
@evilebottnawi Thanks - I'll look into the watchoptions to see whether that works (or at least, I'll get one of my colleagues who has a win7 computer to do so!) in the meantime, I've PR'd up my proposed change just in case :)

[2019-01-15 16:43] Foxhoundn commented on #358
This was caused by `http-proxy-middleware` package, for some reason it was causing wdm to serve some ancient files. All is safe and sound. Sorry for the confusion!

[2019-01-15 16:43] #358 closed

[2019-01-17 11:41] evilebottnawi commented on #345
Close in favor https://github.com/webpack/webpack-dev-middleware/issues/302

[2019-01-17 11:41] #345 closed

[2019-01-17 11:42] evilebottnawi commented on #302
Information: also need account `wds` name or allow developers redefine

[2019-01-17 11:42] evilebottnawi commented on #338
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2019-01-17 11:42] #338 closed

[2019-01-17 11:44] evilebottnawi commented on #99
@aemonge Not related to `webpack-dev-middleware`

[2019-01-18 09:22] aemonge commented on #99
So webpack-dev-middleware isn't the reverse proxy for webpack ?

I know I posted a framework specific configuration file, but I'm only asking for documentation for creating a secure reverse proxy with webpack-dev-middleware.

I hope I can clarify my doubt.

[2019-01-18 13:05] sudipt1999 commented on #302
@nikwen  I am new to webpack and want to contribute to it . Can I work on it.

[2019-01-18 13:30] nikwen commented on #302
I am just the creator of this issue. I'm not involved in the project
otherwise.

That said, I don't see why the webpack folks wouldn't want you to
contribute. ;)

[2019-01-19 15:00] qkreltms commented on #205
@DeekshaPandit try publicPath: '/dist/' to publicPath: '/' it fixed my issue.

[2019-02-10 09:34] iliakan opened #367 "Inconsistency with webpack: writeToDisk output of file with question mark in name"
Node: 11, Webpack: 4.28.4 (all latest).

In webpack.config:
[code]

Regular webpack creates files on disk like `main.js`.

But webpack-dev-server with writeToDisk option writes files like `main.js?abcdef`.

I suggest to remove `?abcdef` from file names when they are written to disk, to be consistent with what webpack does.

Maybe patch `toDisk` in `fs.js` for that?

[2019-02-11 09:41] evilebottnawi commented on #367
@iliakan already fixed in master, wait webpack-dev-server release

[2019-02-11 09:41] #367 closed

[2019-02-11 09:41] evilebottnawi commented on #367
Here https://github.com/webpack/webpack-dev-middleware/blob/master/lib/fs.js#L29

[2019-02-15 14:06] sanex3339 opened #369 "Reset current compilation if file was changed"
* Operating System: Mac OS 10.12.4
* Node Version: 8.11.2
* NPM Version: 5.6.0
* webpack version: 4.29.3
* webpack-dev-middleware Version: 3.5.2

- [] This is a **feature** request
- [x] This is a **bug**

### Expected Behavior
Current active compilation should reset if file was changed and next compilation should start immediate

### Actual Behavior
Current active compilation will finish first if

[2019-02-15 14:18] evilebottnawi commented on #369
Looks problem on `koa-webpack` side, we don't officially support `koa`, i recommend use `webpack-dev-server`. Anyway please create minimum reproducible test repo and describe in readme what you have and what you expect.

[2019-02-15 16:45] sanex3339 commented on #369
I looked at sources
[code]
None of this hooks was triggered when i changed file during existing compilation

[2019-02-15 16:49] evilebottnawi commented on #369
@sanex3339 no problem with `webpack-dev-server`, please create minimum reproducible test repo

[2019-02-15 22:24] hinell commented on #312
Probably a bit late to party.
There are typically always two types of servers: development and productions ones.
In both you can specify which config to use by simply importing it and referencing it.

[2019-02-25 07:44] cdxOo opened #374 "WDM doesn not call next middleware on bundle compilation"
* Operating System: GNU/Linux 4.20.0-arch1-1-ARCH #1 SMP PREEMPT x86_64
* Node Version: 11.10.0 and 8.15.0
* NPM Version: 6,8,0 and 6.7.0
* webpack version: 4.29.5
* webpack-dev-middleware Version: 3.6.0

- [ ] This is a **feature** request
- [x] This is a **bug**

### Code
code in [cdxOo/webpack-dev-middleware-next-call-mrr](https://github.com/cdxOo/webpack-dev-middleware-next-call-mrr) under src

[2019-02-25 09:24] evilebottnawi commented on #374
@cdxOo Thanks for PR, feel free to send a PR with fix

[2019-03-03 22:01] mathisonian commented on #359
I'm hitting this same error. FWIW my use-case for using `lazy` is that I'm working on a project with hundreds of different HTML pages, and I don't want these to be compiled unless the dev specifically navigates to them - otherwise if everything compiled at once things are just way too slow.

[2019-03-04 08:13] evilebottnawi commented on #359
@mathisonian you can send a PR with fix, here description https://github.com/webpack/webpack-dev-middleware/pull/360

[2019-03-06 10:39] dmohns opened #376 "Content-Type set by other middleware gets overwritten"
* Operating System: macOS 10.14.3
* Node Version: `v11.10.0`
* NPM Version: `6.8.0`
* webpack version: `4.29.6`
* webpack-dev-middleware Version: `3.6.0`

- [ ] This is a **feature** request
- [x] This is a **bug**

### Code

I am working with a custom middleware to serve static assets from their gzipped versions, like so:

[code]

Unfortunately, `webpack-dev-middleware` overwrites `Content-Type`

[2019-03-06 10:47] dmohns commented on #376
@clshortfuse you had some trouble with incorrect mimeTypes set by `webpack-dev-middleware`. Is this problem similar?

[2019-03-06 11:28] evilebottnawi commented on #376
We should add check if header already exists, feel free to send a PR with fix :+1:

[2019-03-06 15:57] #376 closed

[2019-03-06 15:59] evilebottnawi commented on #376
Release https://github.com/webpack/webpack-dev-middleware/releases/tag/v3.6.1

[2019-03-06 16:56] dmohns opened #379 "Content-Length is overwritten by ExpressJS"
* Operating System: macOS
* Node Version: `v11.10.0`
* NPM Version: `6.8.0`
* webpack version: `4.29.6`
* webpack-dev-middleware Version: `3.6.1`

- [ ] This is a **feature** request
- [x] This is a **bug**

### Code

Follow up to discovery in https://github.com/webpack/webpack-dev-middleware/pull/377#discussion_r263004819

It looks like the computation of `Content-Length` is not functional.

http

[2019-03-06 17:00] evilebottnawi commented on #379
@dmohns thanks for investigate, let's do it, just remove this and add comment like "Content-Length header is unnecessary due Express already set header [linkToSouceCodeOfExpress]"

[2019-03-07 06:42] sjy opened #380 "Response.getHeader may be undefined, not a function"
* Operating System: OSX
* Node Version: 10.15.1
* NPM Version: 6.4.1
* webpack version: 4.1.6
* webpack-dev-middleware Version: 3.6.1

- [x] This is a **bug**

### Expected Behavior
No error

### Actual Behavior
A TypeError throwed
[code]
![image](https://user-images.githubusercontent.com/1523060/53937052-e7f8aa80-40e6-11e9-85ee-207536d4aec6.png)

### For Bugs; How can we reproduce the behavior?
U

[2019-03-07 06:46] sjy commented on #380
https://github.com/webpack/webpack-dev-middleware/pull/377 introduce this issue

[2019-03-07 06:51] sjy commented on #380
@evilebottnawi  should i need to make a pr which will  check `getHeader` before call it

[2019-03-07 09:52] evilebottnawi commented on #380
@sjy yep, feel free to send a PR, anyway what is use case where `getHeader` is undefined?

[2019-03-07 12:07] sjy commented on #380
My project depends on `koa-webpack`, https://github.com/shellscape/koa-webpack/issues/109

[2019-03-07 12:17] evilebottnawi commented on #380
@sjy we don't support officially `koa`, we can add check, but in future it can get other broken part

[2019-03-07 14:08] dmohns commented on #380
Looks like help is on the way: https://github.com/shellscape/koa-webpack/pull/110

[2019-03-07 14:11] hovoodd commented on #380
It's a `koa-webpack` issue, not `webpack-dev-middleware`

[2019-03-07 15:41] #380 closed

[2019-03-08 06:47] nuintun commented on #380
Same problem !!

[2019-03-13 02:41] wssgcg1213 commented on #380
same problem.

[2019-03-18 04:47] weipxiu commented on #380
无法解决的疑难问题，似乎是绝症

[2019-03-19 10:09] davinma commented on #380
在 `"vuepress": "^0.14.10"` 下面新增一行 `"webpack-dev-middleware": "^3.6.0"` 即可。刚开始用 npm / yarn 安装的时候都报这个错误，参考 [issues/1417](https://github.com/vuejs/vuepress/issues/1417) 解决了，估计是版本号不兼容。

[2019-03-19 10:11] evilebottnawi commented on #380
All comments are not in English are marked as spam.

[2019-03-19 10:11] evilebottnawi commented on #380
Update your deps

[2019-03-20 09:42] white87332 commented on #380
same problem!!

[2019-03-20 09:49] evilebottnawi commented on #380
Update your deps

[2019-03-24 10:14] emilsedgh commented on #380
Which dependency must be used to resolve this?

It seems that koa-webpack is the package which included the fix but I'm not even using that.

Do I have to?

[2019-03-24 21:13] hovoodd commented on #380
@emilsedgh are you sure about that? Is the `grep koa-webpack package-lock.json` output empty?

[2019-03-24 22:43] emilsedgh commented on #380
Yes I'm quite sure of that.

It seems that koa-webpack wrapped webpack-dev-middleware and webpack-hot-client, which were already set up.

I'm in the process of porting to koa-webpack anyways, but I think this bugs means people wont be able to opt-out of that anymore.

[2019-04-01 14:10] gpoitch commented on #379
Wanted to chime in to say that this middleware works without Express.  I currently use it with plain node http.

[2019-04-03 12:33] evilebottnawi commented on #374
/cc @hiroppy can you take care about this?

[2019-04-11 21:55] george-norris-salesforce opened #391 "Cannot read property 'invalid' of undefined"
Setting up Webpack with Express throws `Cannot read property 'invalid' of undefined`

* Operating System: OSX
* Node Version: 10
* NPM Version: 5.6.0
* webpack version: 4.29.6
* webpack-dev-middleware Version: 3.5.1
- This is a **bug**

### Code

If you have a large amount of code to share which demonstrates the problem you're experiencing, please provide a link to your
repository rather than past

[2019-04-11 21:57] evilebottnawi commented on #391
Looks you use old version of `webpack-dev-server`, please check it, if problem still exits please create minimum mreproducible test repo

[2019-04-11 22:30] george-norris-salesforce commented on #391
Here is a test repo with same error
https://github.com/george-norris-salesforce/express-webpack-test

[2019-04-12 18:10] george-norris-salesforce commented on #391
I think I may have setup the middleware incorrectly, I've since fixed this.

[2019-04-12 18:10] #391 closed

[2019-04-12 22:18] george-norris-salesforce opened #392 "Documentation on using with Express/ Webpack generated Views"
Setting up Webpack with Express throws `Cannot read property 'invalid' of undefined`

* Operating System: OSX
* Node Version: 10
* NPM Version: 5.6.0
* webpack version: 4.29.6
* webpack-dev-middleware Version: 3.5.1
- This is a **bug**

Trying to use this library with `HtmlWebpackPlugin` to generate some `handlebars` templates. Is this possible to do with this library?

- publicPath in Webpack con

[2019-04-12 22:23] evilebottnawi commented on #392
https://github.com/webpack/webpack-dev-middleware/issues?q=is%3Aissue+is%3Aclosed

[2019-04-12 22:23] #392 closed

[2019-04-12 22:24] evilebottnawi commented on #392
You have invalid configuration. webpack-dev-middleware already store all in memory.

[2019-04-12 22:26] evilebottnawi commented on #392
You don't need `CleanWebpackPlugin`, because no assets in file system

[2019-04-12 22:28] evilebottnawi commented on #392
Also `devServer` !== `webpack-dev-middleware`

[2019-04-12 22:36] george-norris-salesforce commented on #392
Sorry a little confused. What is invalid?
CleanWebpackPlugin may be unnecessary. But since `webpack-dev-middleware` serves from memory, it wouldn’t interfere and mess it up right?

I’ve removed CleanWebpackPlugin. But the resulting template has no injected script / style tags.

[2019-04-12 22:38] george-norris-salesforce commented on #392
Is it possible to use something like `HtmlWebpackPlugin` that generates a template / injects script and style tags — with `webpack-dev-middleware`?

[2019-04-12 22:51] evilebottnawi commented on #392
How it is related to `webpack-dev-server`? We just middleware for express, we provide access to assets from webpack and all. If `HtmlWebpackPlugin` emit assets you can get their by url, if not you can't give their.

[2019-05-13 12:33] evilebottnawi commented on #374
@cdxOo sorry for big delay, not sure it is bug, because when we do build we don't known all assets, so i think we should wait before webpack done compilation otherwise you will be error 404 in some cases

[2019-05-15 08:04] evilebottnawi commented on #369
Here problem too https://github.com/webpack/webpack-dev-server/issues/1479#issuecomment-442492922

[2019-05-19 10:34] eragon512 commented on #312
hey, I'm a new contributor and I'd like to take up this issue

[2019-05-19 10:36] eragon512 commented on #302
hey, I'm a new contributor and I'd like to take up this issue, if its available/active

[2019-05-20 12:16] evilebottnawi commented on #302
Yes, PR welcome

[2019-05-20 12:16] evilebottnawi commented on #312
Yes, PR welcome

[2019-05-21 02:01] progman32 opened #405 "`fs` implementation also requires `mkdirp`"
Documentation Is:

- [x] Missing
- [ ] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

The documentation for the `fs` option mentions that `join` must be supported by the `fs` implementation (which the Node filesystem API does not, directly). However, it also requires `mkdirp` today. Attempting to follow the documentation's advice results in:
[code]

### Your Proposal for

[2019-05-23 10:16] evilebottnawi commented on #405
Thanks for issue, it is bug, we need add check as here https://github.com/webpack/webpack-dev-middleware/blob/master/lib/fs.js#L102

[2019-05-28 16:37] notiv-nt opened #409 "ConcurrentCompilationError: You ran Webpack twice"
* Operating System: MacOS 10.14.5 (18F203)
* Node Version: 10.15.3
* NPM Version: 6.4.1
* webpack Version: 4.31.0
* webpack-dev-middleware Version: used in webpack-dev-server

### Context

docker, webpack-dev-server , lazy: true

### Error itself:

[code]

https://github.com/webpack/webpack/blob/master/lib/Compiler.js#L211

I still can not find the reason for this error, its very hard to catch, bu

[2019-05-28 16:40] evilebottnawi commented on #409
Please create minimum reproducible test repo, i think you have something wrong in setup, you should not run webpack twice as error said

[2019-05-28 16:42] notiv-nt commented on #409
this is the problem that everything works in the "minimal version"

[2019-05-28 17:41] notiv-nt commented on #409
I think i found it
https://github.com/notiv-nt/webpack-dev-lazy

[code]

open localhost:8090

open console, and paste

[code]

[2019-05-28 17:43] evilebottnawi commented on #409
Why you use lazy? Can you describe use case?

[2019-05-28 17:45] notiv-nt commented on #409
hmr too heavy + there are multiple client's
if I start all services at the beginning (hmr), and not on request, everything will very slow down

[2019-05-28 17:45] notiv-nt commented on #409
+ docker's io on macos SOOOO slow

[2019-05-28 18:08] evilebottnawi commented on #409
hm, looks like a bug, feel free to send a PR

[2019-05-28 18:09] notiv-nt commented on #409
just comment this? https://github.com/webpack/webpack-dev-middleware/blob/9f8f9471411ddf9e882f7c83c85325b5cb324216/lib/context.js#L57-L60

[2019-05-28 18:10] evilebottnawi commented on #409
Not sure, i think problem deeply, need investigate

[2019-05-28 18:32] notiv-nt commented on #409
I dont know, but just placing this code inside `process.nextTick` solves this problem

[2019-06-15 17:05] anikethsaha commented on #409
is `bundle.js` the one you are requesting is present in your public folder cause in the repo you mentioned its not there and It seems an error is obvious if its not there which is happening. I tried to repro the case and I placed bundle.js inside the public and its working fine.

[2019-06-15 21:50] notiv-nt commented on #409
@anikethsaha bundle.js — webpack's output file

[2019-06-16 05:27] anikethsaha commented on #409
That is quite obivious after seeing your config file. But what I meant was its not been created after running your repo. If its help can you manually create that and check. I knw it sud be created automatically but for just for test being can you do that

[2019-06-18 06:31] notiv-nt commented on #409
Because its webpack's bundlee file, what should it do in `public`?

what is it for? the problem is generally in compilation

[2019-06-18 17:33] anikethsaha commented on #409
Actually weirdly it was not creating. And I think it's not in compilation it's in the fetch argument. Let's wait for others and discuss this in the PR to see if it workout.

[2019-06-24 09:00] evilebottnawi commented on #409
@anikethsaha yep, it is invalid solution, we should search other way to solve this problem, any ideas?

[2019-06-24 09:08] notiv-nt commented on #409
I don’t understand what you are saying. Your plugin crashes. What is the public folder? What are you talking about?
The problem in COMPILATION

`ConcurrentCompilationError: You ran Webpack twice. Each instance only supports a single concurrent compilation at a time.`

[2019-06-24 10:30] anikethsaha commented on #409
oops .. my bad 😁
I couldn't able to reproduce the error, it's surely something to do with Docker *as you mentioned !*
am not much into docker, so I am not really able to debug it

I meant problem is in the env which is leading to this error

[2019-06-24 10:44] notiv-nt commented on #409
Ok, same error without docker.

1. Clone https://github.com/notiv-nt/webpack-dev-lazy
2. install packages
3. yarn start
4. open http://localhost:8090/
5. see error

[2019-06-24 10:49] evilebottnawi commented on #409
@notiv-nt it is appears only in docker, right?

[2019-06-24 10:59] notiv-nt commented on #409
Removing this 4 lines for me.I do not know how for others

[code]

[2019-06-24 11:01] anikethsaha commented on #409
https://github.com/webpack/webpack-dev-middleware/issues/409#issuecomment-504957820 It's working fine for me, !!!!

[2019-06-24 11:04] evilebottnawi commented on #409
I want clarify what it is happens only in docker, somebody can give feedback?

[2019-06-24 11:06] notiv-nt commented on #409
@evilebottnawi not only in docker

[code]

[2019-06-24 11:07] anikethsaha commented on #409
@notiv-nt is your src/index.js is having some content or its just empty as in the repo you mentioned ?

[2019-06-24 11:08] notiv-nt commented on #409
1:1 like in repo

[2019-06-24 11:09] notiv-nt commented on #409
### webpack.config.js

[code]

### src/index.js

[code]

### public/index.html

[code]

[2019-06-24 11:12] anikethsaha commented on #409
Its still working fine on my system

[2019-06-24 11:14] notiv-nt commented on #409
Try to reload without cache `ctrl+shift+r`, if not, i dont know

[2019-06-24 11:16] anikethsaha commented on #409
I did with clearing the cache already but it was working fine.
Now I am on windows edge and **Now** the error is coming

[2019-06-24 11:30] anikethsaha commented on #409
I would add this
[code]
just to handle the requests
Although not sure about the error type, **I guess** it should not be of type compilation error.

[2019-07-02 12:50] JoshuaKGoldberg opened #435 "webpack/lib/node/NodeOutputFileSystem removed in Wepback 5"
* Operating System: Mac 10.14.5
* Node Version: 8.9 _(but it's not relevant to this issue)_
* NPM Version: Yarn 1.15.2
* webpack Version: 5.0.0-alpha.17
* webpack-dev-middleware Version: 3.7.0

### Expected Behavior

Don't crash when starting a Webpack dev server.

### Actual Behavior

[code]

### Code

[code]

`mkdirp` in `NodeOutputFileSystem` is directly `require("mkdirp")` per #405. I think th

[2019-07-02 12:51] evilebottnawi commented on #435
Yes, you are right, PR welcome

[2019-07-08 19:25] #435 closed

[2019-07-09 12:52] EslamHiko commented on #312
@evilebottnawi I have a suggestion we can create 2 options one is `configs` or `configPath` its value will be the path to a config file ex:`webpack.middleware.js` or an array with a group of options with `mode` value. and we have the second option will be `mode` which if it's set it'll import the options from the group of options. so what do you think?

[2019-07-09 12:57] evilebottnawi commented on #312
@EslamHiko this issue about supporting `name` as argument for build, webpack configuration can has multiple configuration (example https://github.com/webpack/webpack/tree/master/examples/multi-compiler), you developer provide this option we should compile only configuration with provided name

[2019-08-05 06:36] KathiresanRamkumar95 commented on #409
How did you fix this?
@notiv-nt

[2019-08-05 07:21] notiv-nt commented on #409
@KathiresanRamkumar95
https://github.com/notiv-nt/webpack-dev-middleware/commit/9a7ce044682aca870061f7352377c4fdc8545ff8

[2019-08-05 07:33] KathiresanRamkumar95 commented on #409
@notiv-nt  Still I got the same error

[2019-08-05 07:34] notiv-nt commented on #409
@KathiresanRamkumar95  ¯\_(ツ)_/¯ i havent

[2019-08-19 13:09] Pixelatex commented on #409
The issue resolved itself by downgrading to ^3.1.14 instead of the latest version. Seems something changed in between those versions.

[2019-09-03 20:02] redbugz opened #463 "In 3.7.1, `writeToDisk` option requires webpack 4.39.0"
* Operating System:
* Node Version: 10.16.2
* NPM Version: 6.11.2
* webpack Version: 4.29.6
* webpack-dev-middleware Version: 3.7.1

### Expected Behavior

`writeToDisk` option outputs files to disk

### Actual Behavior

silent failure, no files are written

### How Do We Reproduce?

We are on a slightly out of date fork of CRA, which is pinned to webpack 4.29.6.
CRA just updated to webpack 4.39.0

[2019-09-04 10:29] evilebottnawi commented on #463
Oh, I would advise using the latest version of `webpack`, sometimes this happens, we try to avoid this, but some problems can be solved in other way. Also some plugins potentially can have some problems.

Reverting PR broken compatibility with webpack and we wan't this. Error logging impossible in this situation. Only solution - update webpack, sorry

[2019-09-05 00:07] zetlen commented on #463
Since this package now requires Webpack 4.39, it would help for you to indicate that by updating the [peerDependency you have  in package.json](https://github.com/webpack/webpack-dev-middleware/blob/master/package.json#L31).

[2019-09-05 12:30] redbugz commented on #463
After updating webpack, things are working again.

[2019-09-05 12:30] #463 closed

[2019-09-06 07:13] lyz1991 commented on #409
must be the api webpack of webpack4 is async,you should change the devmidware into callback

[2019-09-23 08:48] unbug opened #469 "`writeToDisk` leads the compile time keep increasing."
* Operating System: MacOS 10.15
* Node Version: v10.15.2
* NPM Version: 6.11.3
* webpack Version: 4.40.2
* webpack-dev-middleware Version: 3.8.1

### Expected Behavior
The compile-time should not keep increasing.

### Actual Behavior

The compile-time keep increasing, and log shows duplicate write to disk keep increasing.
e.g. First compile:
[code]
Third compile:
[code]

### Code

[code]

### How

[2019-09-23 10:53] evilebottnawi commented on #469
Thanks for issue :+1:

[2019-09-25 06:14] unbug commented on #469
Looks like the `compiler.hooks.assetEmitted.tapAsync('WebpackDevMiddleware', ....` got duplicate called for each compile.
https://github.com/webpack/webpack-dev-middleware/blob/master/lib/fs.js#L18

[2019-09-25 11:07] evilebottnawi commented on #469
@unbug yep, in my todo, will be fixed in near future

[2019-09-27 16:01] evilebottnawi commented on #469
@unbug hm, can you create minimum reproducible test repo?

[2019-09-27 16:25] evilebottnawi commented on #469
No need, find memory leak, WIP

[2019-09-27 17:27] JulienPradet commented on #469
Hi @evilebottnawi

Is the memory leak you are talking about is that the first hook creates a new one on each pass, leading to never GC the `compilation` object?

I was myself investigating issues with webpack-dev-middleware and was about to submit a PR about this. (found it thanks to this clue: https://github.com/webpack/webpack/issues/6929#issuecomment-388717678). But I'm wondering if that would

[2019-09-27 17:31] evilebottnawi commented on #469
@JulienPradet yes, here same bug, on each compilation we create new callback on hook, so after 100 compilations we have 100 callbacks. Here memory leak. I added this to my todo list, try to throw warning on webpack side for webpack@5, it is allow catch all these cases.

[2019-09-27 17:40] JulienPradet commented on #469
That would be awesome!
If you need help landing the fix in webpack-dev-middleware (for example if you don't have time), I would be happy to help :)

[2019-09-27 17:51] evilebottnawi commented on #469
@JulienPradet thanks, i am working on this right now, so I think there’s no point in working together on this, anyway thanks for feedback

[2019-09-27 20:15] #469 closed

[2019-09-30 13:51] evilebottnawi commented on #374
After investigate and comparing with `serve-static` (https://github.com/expressjs/serve-static) i can't find here problem, we have same behavior as `serve-static`.

If file found we `send` it and stop handling (as do `serve-static`), if file not found we call next middleware. I don't think it is bug so i closing issue, anyway if you disagree with this, please open new issue and describe why do you

[2019-09-30 13:51] #374 closed

[2019-09-30 14:13] evilebottnawi commented on #359
Let's close issue in favor https://github.com/webpack/webpack-dev-middleware/issues/409, feel free to feedback

[2019-09-30 14:13] #359 closed

[2019-10-06 18:11] wusiquan commented on #409
I encouter the same error, when I use webpack-dev-middleware with `lazy: true` option and webpack-hot-middleware.
when a request come in, the value of `context.state` is false, and its hooks.done called before the last request's done hook, the error occur.

put the code below in bottom of the process.nextTick callback function, can solve my problem.
[code]

The reason may be the webpack compiler `

[2019-10-07 05:14] wusiquan commented on #405
use the `fs` option, I found the same error

temporarily usage, edit from https://github.com/webpack/webpack-dev-middleware/issues/405#issue-446382355

[code]

[2019-10-07 11:23] evilebottnawi commented on #409
PR welcome, also we need test(s)

[2019-10-22 11:17] Media-Evil opened #491 "Documentation does not mention that emitted images (in particular .jpg and .png) will be served from memory file system with (no|incorrect) mime types"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
The middleware does not serve bundled images (tested .jpg, . png) from memory file system with correct mime-types.
### Your Proposal for Changes
My proposal is to **serve** bundled (processed) assets such as images with correct mime types

If this is unintended behaviour, please let me kn

[2019-10-22 13:08] evilebottnawi commented on #491
Please provide example

[2019-10-22 14:57] Media-Evil commented on #491
[Here](https://drive.google.com/open?id=1NyDfXg7zescYapU7eT2pSLqrwqpEL6vY) I removed (almost) all clutter. The problem persists. Network tab shows that file is actually sent though with incorrect mime-type.

[2019-10-22 15:01] Media-Evil commented on #491
P.S. `cd` to the `dev` folder prior to running any scripts

[2019-10-22 15:22] evilebottnawi commented on #491
We use `mimes` package and he provide mime types, looks something wrong in your code. I will look on this in near future.

[2019-10-23 14:04] Media-Evil commented on #491
I re-organized my code and issue disappeared. I'm closing the issue as irrelevant.

Some conclusions:
- if you see something like `../../../../outerModule.js` way too often, something is definitely wrong with your project architecture
- the first argument in express's `app.use` specifies the endpoint the user requests
- the second argument defines what folder to serve when that endpoint is request

[2019-10-23 14:04] #491 closed

[2019-10-23 18:10] evilebottnawi commented on #409
No need PR, `lazy` will be removed in next release, it is incompatibility approach for webpack and middleware

[2019-10-28 15:08] evilebottnawi commented on #350
/cc @hiroppy I think we should not change logic, same logic using in many places in express and express middleware https://github.com/expressjs/serve-index/blob/master/index.js#L543, i think will be great implement an option for this

[2019-10-28 15:13] evilebottnawi commented on #379
Fixed in https://github.com/webpack/webpack-dev-middleware/pull/497

[2019-10-28 15:13] #379 closed

[2019-10-28 15:14] hiroppy commented on #350
hmm, it seems we need to overwrite below lines.

[code]

Yes, I agree with you. We need to provide a new option for overwriting this.

[2019-10-28 15:16] hiroppy commented on #350
ok, I'll take over this.

[2019-10-28 15:29] evilebottnawi commented on #350
Just for information, https://github.com/expressjs/serve-static/blob/master/index.js do not use `utf8`, maybe we should investigate deeply

[2019-10-28 15:35] hiroppy commented on #350
This problem seems to be difficult because express is writing utf-8 directly.😥

[2019-11-22 12:26] evilebottnawi commented on #409
lazy was removed for next release

[2019-11-22 12:26] #409 closed

[2019-11-22 12:26] evilebottnawi commented on #405
Fixed

[2019-11-22 12:26] #405 closed

[2019-11-24 17:39] Zammy commented on #295
I am using `"webpack-dev-middleware": "^3.7.2"` and `"webpack": "^4.41.2"` but I get this exception when trying to watch with webpack. I read what `peerDependencies `are in `package.json` but I do not completely understand what I am supposed to do. I added `  "peerDependencies": {
    "webpack": "^4.41.2"
  }` to `package.json` and installed again. It did not fix the issue.
What am I doing wrong?

[2019-11-26 14:18] SunriseFox opened #527 "writeToDisk:true exhausts heap quickly on large projects"
- Operating System: any
- Node Version: any
- NPM Version: any
- webpack Version: < 5
- webpack-dev-middleware Version: latest

### Expected Behavior

When `writeToDisk` is set to true, no memory leaks between compilations.

### Actual Behavior

Memory leak exhausts heap quickly on large projects.

### Code

[code]

### How Do We Reproduce?

Here is the cause:
https://github.com/webpack/webpack-de

[2019-11-26 14:27] evilebottnawi commented on #527
Please create reproducible test repo, looks memory leak in some plugins

[2019-11-26 14:39] SunriseFox commented on #527
Ah, sorry. `compiler.hasWebpackDevMiddlewareAssetEmittedCallback` introduced in 3.7.2 should have fixed this. (but it will still hold one oldest compilation object... I found this issue in 3.7.1, then I rechecked it in 3.7.2 and still found a previous compilation object when I did memory profiling... At least it won't crash the application again).

Sorry again.

[2019-11-26 14:39] #527 closed

[2019-12-09 11:22] chadzdev opened #532 "Issue connecting to mongodb"
Hello,

If I have Node v12.13.1 installed, would it work for "Autodesk-Forge/forge-rcdb.nodejs" sample?

Thankks

[2019-12-09 11:29] evilebottnawi commented on #532
Wrong repo

[2019-12-09 11:29] #532 closed

[2019-12-10 09:13] csbblabsystemvsb123 commented on #68
Finally I found the solution for this error

just change,
app.get('*', (req, res) => {
    res.sendFile(indexHtml);
  });

To

app.get('/', (req, res) => {
    res.sendFile(indexHtml);
  });

It works to me

[2019-12-11 10:01] tsofist commented on #7
`html-webpack-plugin` provide `hash` option for cache busting but dev-middleware not supported this case 😢

[code]
[code]

[2019-12-12 10:56] tsofist opened #535 "Query parameter break load resource"
- Operating System: Windows
- Node Version: 13.2.0
- NPM Version: 6.13.1
- webpack Version: 4.39.1
- webpack-dev-middleware Version: 3.7.2
- html-webpack-plugin Version: 3.2.0

### Expected Behavior
[code]
### Actual Behavior

[code]
### Code

[code]

### How Do We Reproduce?
`HtmlWebpackPlugin` can add hashsum of script file to src query (when use `hash: true` option). So this is break webpack-de

[2019-12-12 11:08] evilebottnawi commented on #535
Please create reproducible test repo

[2019-12-12 11:08] evilebottnawi commented on #535
Do not use hash for dev purpose

[2020-01-15 21:54] ButchMonkey commented on #358
@Foxhoundn I'm having the same issue here.

How did you solve this? Of course, removing `http-proxy-middleware` isn't an option as it is a dependency for `webpack-dev-server`

[2020-01-23 06:46] ewolfe commented on #409
When is the next release expected to come out?

[2020-02-01 13:53] evilebottnawi commented on #535
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-02-01 13:53] #535 closed

[2020-02-01 13:57] evilebottnawi commented on #302
Apparently this change does not interest anyone, so I close the problem, but if you want to improve the message feel free to send a PR!

[2020-02-01 13:57] #302 closed

[2020-02-05 16:48] evilebottnawi commented on #350
Fixed in `next`

[2020-02-05 16:48] #350 closed

[2020-02-17 16:33] Conversional commented on #358
So can you give a hint what you did? I am having the same problem.

[2020-02-19 08:58] ButchMonkey commented on #358
I ran into this issue a while a go and it turned out to be that there was an error during the build. I missed the error message as it was at the top of the log. Dev server then serves the last successful build

[2020-02-20 09:16] ScriptedAlchemy opened #588 "V4 rc: options.json not published to npm. Causes build failure"
@evilebottnawi @sokra we are missing the `options.json` file. It looks like it's not copied over in the build / npm ignored. Blocking me from attempting to upgrade Next.js to Webpack 5 & I don't have push / publish access. Can someone who does re-publish it with its schema file :)

- Operating System: OSX
- Node Version: 11
- NPM Version: 6
- webpack Version: 5
- webpack-dev-middleware Version: 4.

[2020-02-20 09:22] evilebottnawi commented on #588
WIP

[2020-02-20 09:30] ScriptedAlchemy commented on #588
LOL looks like we both were on it 😂

[2020-02-20 09:30] #588 closed

[2020-02-20 09:37] evilebottnawi commented on #588
Done https://github.com/webpack/webpack-dev-middleware/releases/tag/v4.0.0-rc.1

[2020-02-20 09:37] evilebottnawi commented on #588
Feel free to leave feedback on rc version

[2020-02-20 09:52] ScriptedAlchemy commented on #588
Appreciate it Evilebot Ill give it a go tomorrow

[2020-02-25 13:21] sc410wbt commented on #205
Tried the publicPath fix to no avail, but this one did the trick. Thanks!

[2020-03-03 15:11] marr opened #593 "Server Side Rendering section seems innaccurate"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [ ] Confusing
- [x] Not Sure?

### Please Explain in Detail...
Looking through the Server Side Rendering example, there is a section that expects `res.locals.webpack` to exist. When I inspect that on my server, it is _undefined_. There is a `res.locals.webpackStats` set, but it doesn't seem to line up with the example.

### Your Proposal for Changes

[2020-03-03 15:49] evilebottnawi commented on #593
It is documentation for next major release, please look here https://github.com/webpack/webpack-dev-middleware/blob/master/package.json#L3, you can find old documentation here https://github.com/webpack/webpack-dev-middleware/tree/v3.7.2#server-side-rendering (using tags).

The migration dragged on a bit, so a problem appeared, I hope we will fix it soon, and the master will be actual

[2020-03-03 15:49] #593 closed

[2020-03-06 23:01] ScriptedAlchemy opened #596 "What should be used in place of these options"
Hey there! If you need support, help, or advice then this is not the place to ask.
Please visit [StackOverflow](https://stackoverflow.com/questions/tagged/webpack)
or [the Webpack Gitter](https://gitter.im/webpack/webpack) instead.

Does dev middleware need its own watchOptions or anything like that anymore?
[code]

[2020-03-10 08:55] evilebottnawi commented on #596
Latest version (https://github.com/webpack/webpack-dev-middleware/blob/master/package.json#L3) is 0CJS, you don't need options, they are taken automatically from the configuration of the webpack (`webpack.config.js`), we left only specific properties + `publicPath` for easy migration, maybe `publicPath` will be removed too

From your configuration:
- you can remove `noInfo` and `logLevel`, now we

[2020-03-16 16:47] abdullah-bl opened #598 "log.debug is not a function..."
- Operating System: macos 10.15.3
- Node Version: v13.8.0
- NPM Version: 6.14.2
- webpack Version: 4.42.0
- webpack-dev-middleware Version: 3.7.2

### Error
[code]

#### This is what i did to fix this problem..
I opened webpack-dev-middleware/lib/fs.js file and added this code
[code]

[code]

[2020-03-17 09:59] evilebottnawi commented on #598
Do not use `webpack-logger` or `webpack-log`, webpack has own built-on logger

[2020-03-17 09:59] #598 closed

[2020-03-19 21:21] artemirq opened #602 "4.0.0-rc.1 is incompatible with Fastify"
- Node Version: v13.11.0
- NPM Version: 6.13.7
- webpack Version: 4.42.0
- webpack-dev-middleware Version: 4.0.0-rc.1

### Actual Behavior

When I trying to access application from browser, build is failing with error `TypeError: res.get is not a function`. In previous version, 3.7.2 it's not happened

I checked that error is happening in new version on [this code line](https://github.com/webpack/

[2020-03-20 10:29] evilebottnawi commented on #602
We never will be compatibility with `fastify`, we support only `express` officialy

[2020-03-22 19:42] artemirq commented on #602
Supporting availability to use with two frameworks is bad idea, agreed

[2020-03-23 09:47] evilebottnawi commented on #602
In theory we can implement it, but we need improve tests, let's mark it is feature

[2020-03-26 15:15] bernardwang commented on #295
@Zammy I am also seeing the same issue, I've updated to the latest `webpack-dev-middleware` and `webpack` but I'm still seeing this error

[2020-04-05 13:16] jeffin143 opened #613 "Add webpack-bot to trigger automatic creation of issue in documentation repo"
### Feature Proposal

Add webpack-bot to trigger the issue creation if check box is checked by a maintainer
* [ ]  This needs to be documented (issue in webpack/webpack.js.org will be filed when merged)

https://github.com/webpack-bot
https://github.com/open-bot/open-bot

### Feature Use Case

Will help to sync the documentation repo with the changes

cc @sokra

[2020-04-05 13:17] jeffin143 commented on #613
If webpack-bot has permission to all repo then it would automatically read the .yaml files and if not then we just have to enable it for this particular repo

[2020-04-07 10:16] evilebottnawi commented on #596
Closing due to inactivity.

Feel free to leave feedback or open a new issue

[2020-04-07 10:16] #596 closed

[2020-04-10 07:23] hiroppy commented on #309
I can't think of a use case but do you need this feature that provides a callback?

[2020-04-19 04:48] bhollis opened #622 "Start emitting chunks only once requested"
- Operating System: macOS 0.14.6
- Node Version: v13.5.0
- NPM Version: 6.13.4
- webpack Version: 4.42.1
- webpack-dev-middleware Version: 3.7.2

### Feature Proposal

What I'd like is a sort of variant of `lazy` mode, where a particular chunk would only be built if it is requested by the browser, but after that it is watched and can hot-load.

This project appears to implement something like what

[2020-04-20 11:06] evilebottnawi commented on #622
It was once realized, but it was deleted, since we do not have all stats until a full compilation is completed. I’m afraid it’s not possible to create due to design and many limitations. We should focus on improving performance, if you create an application repository that you want, I could see how it can be improved.

[2020-04-21 15:14] bhollis commented on #622
Thanks for the response! For dev-server, does the hash matter particularly? I figured that was only for production long-term caching and could be omitted during development.

Feel free to check out https://github.com/DestinyItemManager/DIM - it’s a fairly large open source project that puts Webpack through its paces. You should be able to just check it out and run `yarn && yarn start` - no need to

[2020-04-21 15:23] evilebottnawi commented on #622
@bhollis

unfortunately we cannot, hashes can be used anywhere

This solution relies on some invalid solutions from webpack, but in general it is wrong. Yes, it can be implemented, but for limited cases. We cannot ship that as good solution. Developers begin to use it in all possible variations and this leads to problems. Therefore, we decided not to do this. Instead of this, I would suggest you d

[2020-04-21 16:08] bhollis commented on #622
Sounds good. I’d be interested to know which refactorings you think would help - maybe splitting the project into multiple independent Webpack configurations? In general I’ve liked having webpack be able to choose chunk splitting on its own.

[2020-04-29 18:19] kopax commented on #205
I have the same issue within Docker after releasing a new version. I am not sure but I believe this is due to a chunk not being available anymore and the old version get the default `*` route which is the index.html. any idea how I can solve this ? I believe keeping old chunk across docker release new version is a challenges

[2020-04-29 18:35] evilebottnawi commented on #205
Most often this happens when you got 404 error and you server return html context

[2020-05-01 10:53] kopax commented on #205
yes that is exactly what I said. But how can I prevent the .js file to return the .html within express ?

Keeping old chunk for old versions is a challenge, I should reload the application somehow when this happen, I am not sure where to add this line of code, perhaps the server can send a window.reload when the js file is not found.

[2020-05-01 19:03] scottdickerson opened #633 "writeToDisk: true with hot middleware loses the index.html file"
- Operating System:
Mac
- Node Version:
10.15
- NPM Version:
6.4.1
- webpack Version:
4.40.2
- webpack-dev-middleware Version:
^3.7.2
"webpack-hot-middleware": "^2.25.0",

### Expected Behavior

writeToDisk works well on the first build, but on the second build of webpack, it deletes the index.html and replaces it with the hot module json reload

### Actual Behavior

To see the bug setup both dev-

[2020-05-04 11:41] evilebottnawi commented on #633
Please provide full reproducible test repo, I can't reproduce, we don't remove your files

[2020-05-07 00:03] hiroppy opened #637 "Uncomment audit from CI"
### Expected Behavior / Situation

Uncomment audit from CI.

### Actual Behavior / Situation

Currently, audit has errors because by yargs-parser so I commented out it from CI.

[2020-05-07 00:03] hiroppy commented on #637
ref: https://github.com/webpack/webpack-dev-middleware/pull/636

[2020-05-11 02:08] #622 closed

[2020-05-26 17:31] bdsanfelippo opened #645 "Errors after server starts when running from different repo than webpack.config"
- Operating System: Windows 10
- Node Version: v12.16.1
- NPM Version: 6.13.4
- webpack Version: 4.43.0
- webpack-dev-middleware Version: 3.7.2

### Expected Behavior

The express server starts up with no errors and serves up the webpack bundle properly.

### Actual Behavior

The server starts up and listens on its port but then I have tons of errors related to not being able to resolve libraries.

[2020-05-26 17:52] evilebottnawi commented on #645
Can you update `terser-webpack-plugin` to latest version?

[2020-05-26 18:51] bdsanfelippo commented on #645
How would I do that? I'm not using terser-webpack-plugin directly.

[2020-05-26 19:10] bdsanfelippo commented on #645
I manually updated the terser-webpack-plugin that webpack was using and it did not solve the problem.

[2020-05-27 13:10] evilebottnawi commented on #645
Interesting problem :smile: To be honestly no problems, just add:

**webpack.config.js**

[code]

Default `context` is `process.cwd()` (https://github.com/webpack/webpack/blob/master/lib/config/defaults.js#L72), so webpack try to bundle `standalone/src/index.ts` instead `src/index.js` (in `standalone/dist/index.js`), alternative solution to use absolute path to `entry`.

Also you need configuratio

[2020-05-27 13:10] #645 closed

[2020-05-27 20:51] bdsanfelippo commented on #645
Thanks! That worked for my example application. In my actual application I had to make one additional change for the babel-loader:

[code]

[2020-06-01 11:04] hiradyazdan opened #651 "Access 0.0.0.0 externally fails using latest webpack"
- Operating System: `macOS`
- Node Version: `13.14`
- NPM Version: `6.14.5`
- webpack Version: `4.43`
- webpack-dev-middleware Version: `3.7.2`

### Expected Behavior

static assets should be accessed/loaded externally as they're locally

### Actual Behavior

static assets aren't loaded as expected with this error:

`Failed to load resource: Could not connect to the server.`

### Code

webpack.con

[2020-06-01 11:08] evilebottnawi commented on #651
@hiradyazdan Can't reproduce, can you create reproducible test repo?

[2020-06-01 11:16] hiradyazdan commented on #651
@evilebottnawi it didn't even take a minute for you to reproduce it?! you just read my issue!

[2020-06-01 11:55] evilebottnawi commented on #651
@hiradyazdan I read your issue, works fine with `0.0.0.0` locally

[2020-06-01 11:57] hiradyazdan commented on #651
locally?! you clearly didn't read it :D

[2020-06-01 12:22] evilebottnawi commented on #651
@hiradyazdan please change the tone of communication, otherwise I will close your problem without an answer, please create reproducible test repo

[2020-06-01 12:26] hiradyazdan commented on #651
you have been offended for just reminding you that you even missed out even reading my issue, set aside reproducing it?!!! oh I'm sorry for that then! such a child! go on close the issue so people can know how mature you are!

[2020-06-01 12:44] #651 closed

[2020-06-01 12:45] evilebottnawi commented on #651
@hiradyazdan if you change your mind and stop communicating with me in that tone, just do what I asked and I will help you

[2020-06-01 12:48] evilebottnawi commented on #651
I don't know how you run your server, so the `publicPath` can have any value, if you run it locally, just set `publicPath: "/"` if you proxy (that I do not know because you refuse to provide an example) you need set on right way, without minimum example I can't say right value of `publicPath`

[2020-06-01 13:42] hiradyazdan commented on #651
webpack hmr for webpack 1.x used to need the full path than relative for `publicPath` so it can work on remote devices as well, somehow it was resolving the host from `0.0.0.0`. The relative path `/` now works for both dev and hot middleware. This has changed I think. Thanks.

[2020-06-01 14:32] jimblue opened #652 "Error webpackDevMiddleware is not a function"
### Operating System

- Node Version: v12.17.0
- NPM Version: 6.14.4
- webpack Version: 4.43.0
- webpack-dev-middleware Version: v4.0.0-rc.1

### Actual Behavior

I have a Webpack config working very well until I update to v4.0.0-rc.1.
To upgrade y code I've followed the deprecation info in the release note.
For the rest my config is very similar to the doc exemple with express.
The only differenc

[2020-06-01 14:52] jimblue commented on #652
I just found that it's maybe because of the export default.
When I was able to require dev middleware like so:
[code]
Not sure why

[2020-06-01 14:53] evilebottnawi commented on #652
Yes, please use `const { default: webpackDevMiddleware } = require('webpack-dev-middleware')`, we need improve changelog about it

[2020-06-01 14:55] jimblue commented on #652
That lead me to a new same kind of error :

[code]

[2020-06-01 14:55] jimblue commented on #652
This time I have no idea how could I handle that 😞

[2020-06-01 15:01] jimblue commented on #652
Yes @evilebottnawi, that could potentially prevent someone else to loose few hours 😄

[2020-06-01 15:09] evilebottnawi commented on #652
@jimblue Do you use `express`? We support express only officially

[2020-06-01 15:09] jimblue commented on #652
I'm using Browsersync :(

[2020-06-01 15:14] jimblue commented on #652
It could be nice to also add this info on the doc then @evilebottnawi

[2020-06-01 15:41] evilebottnawi commented on #652
@jimblue Can you create reproducible test repo, maybe we can fix compatibility with BrowserSync

[2020-06-01 15:41] jimblue commented on #652
Yes sure 😄

[2020-06-01 16:14] jayair opened #653 "Server-Side Rendering Option"
Hi all,

Thanks for the great plugin. I'm using the server-side rendering option for an upcoming project. And I have a question about this:

I would like the middleware to be queued until the chunks are generated and then get access those chunks.

Is there a recommended way to do this moving forward? Maybe there's an alternative option that I'm not aware of.

Thank you!

[2020-06-01 17:01] evilebottnawi commented on #653
No, you should use Server-Side Rendering Option, if we remove it we will provide alternative way to solve a problem, so feel free to use it without problems

[2020-06-01 17:01] #653 closed

[2020-06-01 17:02] evilebottnawi commented on #633
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-06-01 17:02] #633 closed

[2020-06-04 21:20] pieh opened #656 "clarification if `context` is public or private API"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [ ] Confusing
- [x] Not Sure?

### Please Explain in Detail...

When creating instance of middleware it provide object with methods that are documented as public API (like `waitUntilValid`, `invalidate`, `close`), but also it contains `context` which is not documented. It is used in "express-style" middleware internally, so it might be considered pri

[2020-06-05 14:08] evilebottnawi commented on #656
Interesting use case, can you provide some real examples?

Honestly, I would have made it private. If you need something new for new ideas we can implement method for this.

[2020-06-06 09:55] pieh commented on #656
This is for a feature I work on for [`gatsby`](https://github.com/gatsbyjs/gatsby), the code is not really ready/working yet, but the gist is that we have 2 quite separate services (we have more - but for this thing only 2 are relevant):
 - one for frontend source code (that's our webpack related things)
 - another one for data layer (which is separate from webpack)

Because those 2 are not interc

[2020-06-09 02:13] cruzdanilo commented on #652
i am also having the same error while using `connect` (via `hexo-server`) + `webpack-hot-middleware`

[code]

[2020-06-09 10:34] evilebottnawi commented on #652
@cruzdanilo please don't spam - create reproducible test repo

[2020-06-09 10:42] cruzdanilo commented on #652
spam?

[2020-06-09 10:45] evilebottnawi commented on #652
@cruzdanilo we know that we have this problem, we don’t need to show the error stack again, better create a test repo and we fix it

[2020-06-09 13:55] jimblue commented on #652
I didn't forgot about a testing repo @evilebottnawi , just don't had the time yet.
Maybe be this weekend 🤞

[2020-06-15 20:32] karlhepler opened #662 "Please reinstate lazy option in v4"
- Operating System: n/a
- Node Version: n/a
- NPM Version: n/a
- webpack Version: n/a
- webpack-dev-middleware Version: n/a

### Feature Proposal
Please reinstate lazy option in v4.

### Feature Use Case
I noticed that one of the breaking changes included in 4.0.0-rc.0 is "the lazy option was removed without replacement". This option is essential for my build system.

[2020-06-16 11:08] evilebottnawi commented on #662
It is impossible due architecture, `lazy` never works fine, sorry

[2020-06-16 11:08] #662 closed

[2020-06-16 11:09] evilebottnawi commented on #662
Here https://github.com/webpack/webpack-dev-middleware/issues/622 more infromation

[2020-06-22 04:45] santaclauze commented on #205
I continue encountering a similar issue as well. It happens randomly where a specific page will just appear blank and log that exact error. It seems to be inconsistent.

I implemented a retry for failed chunks -> https://github.com/mattlewis92/webpack-retry-chunk-load-plugin. This has solved some issues related to slow connections but errors still show up intermittently.

[2020-07-02 21:07] ascott18 commented on #358
I ran into this and found that it was one of the various caches in `node_modules/.cache`. Deleting the `.cache` folder instantly fixed the problem for me.

![image](https://user-images.githubusercontent.com/5017521/86409263-5adb4c80-bc6d-11ea-9c3e-b1a53b5a9ab0.png)

[2020-07-16 13:54] mitchell-frost commented on #309
I would like to work on this feature. Can I have a little more details?

[2020-07-16 14:07] evilebottnawi commented on #309
@mitchell-frost Can you provide real use case?

[2020-07-22 03:04] olyop commented on #205
For me I solved it by adding `.js` to the `resolve.extensions` array. Not sure about the source of the problem.

[2020-07-22 18:56] Loonride opened #682 "Test issue: one test file affecting following test when webpack@next compilation not completed"
- Operating System: CI Environment (Windows, Linux, Mac)
- Node Version: Any
- webpack Version: v5 (webpack@next)
- webpack-dev-middleware Version: v4

### Expected Behavior

Different test files with different webpack compilations should not affect one another

### Actual Behavior

See: https://github.com/webpack/webpack-dev-middleware/pull/674#discussion_r451820369

The previous test file: `api.

[2020-07-25 08:59] abdulghani opened #684 "couldn't use res.locals.webpack after serverSideRender is enabled"
[code]
it doesn't give the `webpack` object to the `res.locals` object.

I'm using react config that's generated by `react-scripts@3.4.1`
and my `webpack-dev-middleware` is in `3.7.2`

is this thing still suppose to work?

[2020-07-25 12:29] evilebottnawi commented on #684
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Because you read docs for https://github.com/webpack/webpack-dev-middleware/tree/v3.7.2, in the master branch we have

[2020-07-25 12:29] #684 closed

[2020-08-15 16:26] migliori commented on #68
I opened my local url with: `http://localhost/`
instead of `http://localhost:3000/`

This caused the error.

[2020-08-17 03:16] hiroppy commented on #656
This issue is already resolved?

[2020-08-17 11:22] #637 closed

[2020-08-23 20:32] nchase commented on #40
amazing. thank you, @michaek!

[2020-08-24 09:09] jimblue commented on #652
I've finally move to express using `webpack-dev-server` because of performance problem with `BrowserSync`.

[2020-08-26 21:00] dlong500 opened #701 "Update peerDependencies to support webpack@5"
### Feature Proposal
Add webpack@5 as a valid peer dependency

### Feature Use Case
While webpack@5 is still technically beta, it has been around for a very long time at this point and should be a valid peer dependency for those that are using it.

[2020-08-27 12:29] #701 closed

[2020-09-14 04:16] hiroppy opened #713 "Refactoring test code"
- Operating System: N/A
- Node Version: N/A
- NPM Version: N/A
- webpack Version: N/A
- webpack-dev-middleware Version: N/A

### Modification Proposal

Currently, tests/middleware.test.js has more than 3600 lines. It's hard to read because test code has many `{}`. I want to divide it.

[2020-09-14 11:47] evilebottnawi commented on #713
Divide on that?

[2020-09-15 00:32] hiroppy commented on #713
yes

[2020-09-15 10:56] evilebottnawi commented on #713
We have multiple `describe` sections, and we can move each section to own file

[2020-09-15 10:58] hiroppy commented on #713
Thanks, I want to divide like that.

[2020-10-08 13:20] andrewphillipo commented on #295
Did anyone ever solve this...

[2020-10-15 08:29] pearofducks commented on #602
@artemirq (and any others who find this) - this is working fine with the lastest fastify and [fastify-express](https://github.com/fastify/fastify-express) as the middleware provider (instead of middie)

[2020-10-15 11:39] evilebottnawi commented on #602
@pearofducks yep, can you send a PR to docs how to use it with fastify?

[2020-10-15 16:55] ylemkimon opened #725 "webpack 5 is not included in peerDependencies of v3"
- webpack Version: 5
- webpack-dev-middleware Version: 3.7.2

### Expected Behavior
webpack v5 and webpack-cli v4 are compatible with webpack-dev-middleware v3 and webpack-dev-server v3, so peerDependencies of webpack-dev-middleware v3 should include webpack v5.

### Actual Behavior
webpack v5 is not included in peerDependencies of webpack-dev-middleware v3:

https://github.com/webpack/webpack-dev

[2020-10-15 16:56] evilebottnawi commented on #725
Fixed in master

[2020-10-15 16:56] #725 closed

[2020-10-15 16:57] evilebottnawi commented on #725
We will do release when the work will be completed, hope this week

[2020-10-15 17:43] ylemkimon commented on #725
@evilebottnawi Would it be possible to backport changes into v3? From what I've tried, v3 seems to be compatible with webpack v5.

[2020-10-15 17:45] evilebottnawi commented on #725
No, because a lot of incompatibilities, why you need it? Just wait the release, right now it is just the waring

[2020-10-16 15:19] #652 closed

[2020-10-20 20:42] privatenumber opened #738 "ETag support"
- Operating System: Mac
- Node Version: v12.16.2
- NPM Version: v6.14.4
- webpack Version: v4.44.2
- webpack-dev-middleware Version: v3.7.2

### Feature Proposal
Add Etags to assets to prevent re-loading unchanged assets.

### Feature Use Case
Faster page loads by eliminating loads for large files that are unchanged.

This optimization is used in other dev bundlers like [Vite](https://github.com/v

[2020-10-21 11:09] evilebottnawi commented on #738
@privatenumber Yes, PR welcome

[2020-10-21 22:43] hayesmaker opened #741 "NPM Warnings with Webpack 5"
$ node --version
v12.18.2

$ npm --version
6.14.5

    "webpack": "^5.1.3",
    "webpack-bundle-analyzer": "^3.9.0",
    "webpack-cli": "^4.1.0",
    "webpack-dev-server": "^3.11.0"

### Expected Behavior

should run without warnings when using webpack 5

### Actual Behavior

npm WARN webpack-dev-middleware@3.7.2 requires a peer of webpack@^4.0.0 but none
 is installed. You must install peer depen

[2020-10-22 10:04] evilebottnawi commented on #741
Fixed in master

[2020-10-22 10:04] #741 closed

[2020-10-22 11:26] hayesmaker commented on #741
ok thanks - time to pester webpack-dev-server to update

[2020-10-25 23:51] privatenumber commented on #738
Is v3 still actively maintained? I didn't see a separate dev branch for it but I'm personally using v3 so I would like to add it there so that I can use it.

If not, I can add it to v4.

[2020-10-26 10:50] evilebottnawi commented on #738
Yes, let's add to v4, I will do release in near future (today/tomorrow), also v4 supports webpack@4 and webpack@5

[2020-10-27 21:56] watery opened #749 "Add support to HEAD requests and Last-Modified response header"
- Operating System: Docker with `node:10.15.3-alpine` image
- Node Version: 10.15.3
- NPM Version:
- webpack Version: from react-scripts @ 2.1.8
- webpack-dev-middleware Version: from react-scripts @ 2.1.8

### Feature Proposal
Make the dev-server reply to HEAD requests on resources where it already replies to GET requests; and add the `Last-Modified` response header if it's not already supported.

[2020-10-28 10:02] evilebottnawi commented on #749
Last-Modified is hot help here, webpack-dev-server always reload the page when new compilation happens, I think you do not quite understand how it works. What is the real use case for this feature?

[2020-10-28 10:08] evilebottnawi commented on #749
Please provide more information

[2020-10-28 13:54] Cronus1007 commented on #713
@evilebottnawi  Sir whether someone is working on this issue or shall I take this issue for now.

[2020-10-28 13:55] evilebottnawi commented on #713
You can pick it after stable release (today)

[2020-10-28 14:24] evilebottnawi commented on #749
And we already have `HEAD` support

[2020-10-28 15:07] watery commented on #749
I need some time to elaborate more on my inital explanation; but I'd like to know more about this:

Good!
So, which version has that supported? In my node_modules I see  `webpack-dev-server` vers. 3.1.14 and  `webpack-dev-middleware` at verss 3.4.0.

[2020-10-28 15:10] evilebottnawi commented on #749
You should update `webpack-dev-server` to the latest version

[2020-10-28 15:16] watery commented on #749
I'm using `create-react-app`, which in turn depends on `react-scripts`, I'll check all their versions and see how far I can get.

I'll report back ASAP. Thank you.

[2020-10-28 21:47] watery commented on #749
Ok, I updated the dependencies, ending up with:

*  `webpack-dev-server` @ 3.11.0
* `webpack-dev-middleware` @ 3.7.2

For simplicity I started the project locally on my computer and with npm start (so without Docker); Node is `v10.21.0`.

I still get 404 on an existing page:

[code]

but GET gives 200:

[code]

Do I have to enable some option or similar?

[2020-10-29 09:37] watery commented on #749
I tried to look around the whole dependencies, initializations and configurations from `react-scripts` to `webpack-*` components.
I didn't see any explicit configuration for the middleware, hence I'd expect the default configuration for the request methods to be active.

I however tried to explicitly add the methods config as stated in the README, I'm sure my changes are being picked up because I

[2020-10-29 10:11] watery commented on #749
I just noticed that I obtain 200 even when I issue a `GET` request on non-existing paths;

[code]

[2020-10-29 10:42] Cronus1007 commented on #713
@evilebottnawi  Sir is the stable release ready?

[2020-10-29 10:44] watery commented on #749
Thinking twice about the results in my latest post, they look correct to me: the `/` path is handled by the server, which sends back the javascript files / bundle; but subpaths are effectively handled in-app (by `react-router` or by a similar routing solution), which is the only one who can tell wheter a subpath really exists or not.

In fact, GET and HEAD to `/` both do work:

[code]

[code]

So

[2020-10-29 10:56] evilebottnawi commented on #713
Yes

[2020-10-29 11:29] evilebottnawi commented on #749
Sorry, please open an issue in create-react-app, we supports HEAD, please read code

[2020-10-29 11:32] evilebottnawi commented on #749
`http://localhost:3000/aaeabfaefa` is not our link, we can control only weback assets

[2020-10-29 11:55] watery commented on #749
Sure, but isn't webpack who replies to any subpath here, always returning the whole bundle?

I mean, if I open my browser on `http://localhost:3000/` or `http://localhost:3000/home` or any other address, for the first time ever, isn't webpack that returns all the assets?
That's the reasons I'm using `cUrl` and the command line to do these checks. From all these requests I always expect the whole j

[2020-10-29 11:58] evilebottnawi commented on #749
No, webpack-dev-middleware in this case respect only for webpack assets

[2020-10-29 14:53] WraithKenny commented on #602
This is also breaking with `browser-sync` where before it was working fine. (In my setup, I have a Gulp file which runs a BrowserSync server, which loads the middleware.) It's the same issue here; should I make a new issue, or just leave this note?

[2020-10-29 15:03] evilebottnawi commented on #602
we never supports faslity, please look at README, we write how you should use it with fastify

[2020-10-29 15:12] gpoitch commented on #602
4.0 breaks compatibility with vanilla node http too.

[2020-10-29 15:24] evilebottnawi commented on #602
PR exists https://github.com/webpack/webpack-dev-middleware/pull/747, we never support is too, I think we fix it in near patch release

[2020-10-29 18:20] Cronus1007 opened #752 "Enhancement of package.json"
As per the convenience of a developer  we should also add "lint:fix" script in our package.json which will ease the work of a developer for removing the linitng errors.

### Expected Behavior / Situation
By adding this script fixing of the linting errors would be an easy task.
### Actual Behavior / Situation
If the global configuration files and local configuration files of the prettier collide so

[2020-10-29 18:20] Cronus1007 commented on #752
cc @evilebottnawi

[2020-10-30 08:14] Matyman opened #754 "The middleware accepts an options Object."
Are noInfo and stats cancelled?

[2020-10-30 10:09] evilebottnawi commented on #754
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2020-10-30 10:09] #754 closed

[2020-10-30 10:26] evilebottnawi commented on #752
No need to open new issues for this, feel free to send a PR

[2020-10-30 10:26] #752 closed

[2020-10-31 15:40] watery commented on #749
I looked around `wepack-*` javascript files, to try to track the paths where each request is being handled.
I've added the `X-handled-by` custom header to the response, with the filename and line number where that custom header is added to the request.

Here's what I found:

Issuing GET and HEAD to the root path `/`, both are handled by `middleware.js` and return 200:

[code]

[code]

The same hol

[2020-10-31 20:20] watery commented on #749
I went a little further. I added some `console.log()` here and there and found what follows.

The request:

Arrives to `middleware.js`, inside `Promise()` where `filename` is:

    <project-directory>\dist/jhuhiu/ujjj

and then the flow falls to the line:

    resolve(goNext());

Afterwards, the `Promise()` is re-entered, but this time `filename` is

    <project-directory>\dist

and then I see th

[2020-11-01 12:50] Cronus1007 commented on #713
@evilebottnawi  I think that the linked PR will close this issue. Have a look
#753

[2020-11-02 11:38] evilebottnawi commented on #749
What do you want from `webpack-dev-middleware`, we have gone far from the original request

[2020-11-02 11:59] watery commented on #749
I don't think so, I'm still trying to receive a reply to HEAD requests, which seem to be provided consistently when asking for javascript files, but not for the HTML of the base / index page.

I can't tell whether this belongs to this repository or another of course, I need your help here: you already directed my over here from [the issue I opened on webpack-dev-server](https://github.com/webpack/

[2020-11-02 12:01] evilebottnawi commented on #749
Please provide **small** example, I can't understand your problem

[2020-11-02 12:23] watery commented on #749
Sure, I'll do it.

Meanwhile, may I kindly request this issue be reviewed by an additional person? No offence of course, but I'm not a native English speaker and maybe we're just misunderstanding each other a little.

[2020-11-02 12:30] evilebottnawi commented on #749
We don't have many contributors

[2020-11-02 19:21] reda-alaoui opened #755 "On Windows when filename contains '..' the file resolution fails"
- Operating System: Windows 10
- Node Version: 12.19.0
- NPM Version: 6.14.8
- webpack Version: 4.44.1
- webpack-dev-middleware Version: 3.7.2

### Expected Behavior

When filename contains '..' the file resolution should work.

### Actual Behavior

On Windows only (works on Linux), when filename contains '..' the file resolution does not find the file which leads to an http 404.

### Code

Angula

[2020-11-03 09:07] watery commented on #749
Ok.

As a quick sample, this would replicate the behaviour:

    npx create-react-app
    npm start

Then

    curl http://localhost:3000/a/b -X GET --head

and

    curl http://localhost:3000/a/b -X HEAD --head

I made a small sample too, you can find it here: https://github.com/watery/head-req-webpack-test

Those sources have been made following the [Getting started](https://webpack.js.org/guide

[2020-11-03 12:01] evilebottnawi commented on #755
update webpack-dev-middleware to latest version, fixed in master

[2020-11-03 12:01] #755 closed

[2020-11-03 12:04] evilebottnawi commented on #749
I see... Unfortunately, this problem does not seem to be solved.

[2020-11-03 12:10] watery commented on #749
Well, the good news is that we finally found where the root of this issue is.

I'm adding to the issue in that other repo to see if it can be sorted out; please leave this open for a little more, I'll update it when I get news.

[2020-11-03 12:19] evilebottnawi commented on #749
I'll keep this open until we solve the problem or mark it as won't fix

[2020-11-03 13:12] reda-alaoui commented on #755
I guess there are breaking changes between version 3 and 4?
If so, would it be possible to fix version 3?

[2020-11-03 13:14] evilebottnawi commented on #755
v3 is deprecated and contains a lot of other bugs, my recommendation is migrate on v4, I am really afraid what fixing one bug we create regressions for other

[2020-11-04 03:39] HomyeeKing opened #757 "no `stats` option property anymore?"
Hey there! If you need support, help, or advice then this is not the place to ask.
Please visit [StackOverflow](https://stackoverflow.com/questions/tagged/webpack)
or [the Webpack Gitter](https://gitter.im/webpack/webpack) instead.

I want to clean the console info , the [webpack official](https://webpack.js.org/configuration/stats/#root) says:

I wonder  if this middleware  has `stats` property?

[2020-11-04 11:51] evilebottnawi commented on #757
No `stats`, it was removed in favor `stats` inside configuration, you can use `module.exports = (env) => { stats: env.myCustomStatsValue : 'minimum' }`

[2020-11-04 11:51] #757 closed

[2020-11-04 17:03] dthpth opened #758 "add BrowserSync support"
do you have plans to add a support of BrowserSync server?

right now it thows `TypeError: res.get is not a function` (as mentioned in #652)
I've made a minimal example to reproduce that issue: https://github.com/dthpth/webpack-dev-middleware-bs-issue

[2020-11-04 17:09] evilebottnawi commented on #758
No, we don't have plans, we never supports `browser-sync`, but if you want you can do it, we already have PR for this https://github.com/webpack/webpack-dev-middleware/pull/747

[2020-11-09 20:12] evilebottnawi commented on #758
Fixed in master, release will be tomorrow, I think we need add tests to avoid regressions in future

[2020-11-09 20:16] evilebottnawi commented on #758
Can you try https://github.com/webpack/webpack-dev-middleware/releases/tag/v4.0.1?

[2020-11-09 20:16] evilebottnawi commented on #758
We have compatibility with connect

[2020-11-10 13:47] dthpth commented on #758
works perfectly, thank you!

[2020-11-10 13:47] #758 closed

[2020-11-16 09:09] lanmch opened #765 "the webpack-dev-middleware looks like is not supportting the property of stats"
- Operating System: MacOS 10.15.5
- Node Version: 12.18.1
- NPM Version: 6.14.5
- webpack Version: 5.3.2
- webpack-dev-middleware Version: 4.0.2

### Expected Behavior

i hope to use the property of stats to reduce the unnecessary log info in my terminal. When i use the webpack4 and the webpack-dev-middleware 3.7.2, the ‘stats' can be used rightly.

### Actual Behavior
There is still all of the lo

[2020-11-16 09:45] ylemkimon commented on #765
From CHANGELOG: the `stats` option was removed in v4, the default value of the `stats` option is taken from the value of the `stats` option from the configuration (`webpack.config.js`).

[2020-11-16 10:35] lanmch commented on #765
thanku i will try it

[2020-11-16 11:14] evilebottnawi commented on #765
@ylemkimon thanks for help, yep `stats` was removed

[2020-11-16 11:14] #765 closed

[2020-11-17 12:29] chenjiajing23 opened #766 "options has an unknown property 'logLevel'. These properties are valid:"
- Operating System:mac os 11.0.1
- Node Version:v15.2.1
- NPM Version:7.0.8
- webpack Version:5.4.0
- webpack-dev-middleware Version:4.0.2

### Expected Behavior
![image](https://user-images.githubusercontent.com/41351722/99390304-5c9f6700-2913-11eb-9127-630e50804423.png)

### Actual Behavior
![image](https://user-images.githubusercontent.com/41351722/99390225-3d083e80-2913-11eb-83d9-c7bfef54a3b7.

[2020-11-17 12:41] evilebottnawi commented on #766
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Respect time of other developers, please read changelog before update, this option was removed in v4

[2020-11-17 12:41] #766 closed

[2020-11-17 12:41] chenjiajing23 commented on #766
v3.7.2 is okay ，Did version 4.0.0 remove the logLevel attribute？
![image](https://user-images.githubusercontent.com/41351722/99391384-1814cb00-2915-11eb-97d2-52437fb3b294.png)

[2020-11-17 12:41] evilebottnawi commented on #766
You, it was removed

[2020-11-17 12:44] chenjiajing23 commented on #766
thanks

[2020-11-18 01:54] joebnb commented on #766
how to reduce this log,it interrupt progress bar,

![image](https://user-images.githubusercontent.com/1646883/99472474-a6c03100-2983-11eb-813e-fb472f01f4d2.png)

and remove <i>

![image](https://user-images.githubusercontent.com/1646883/99472591-e8e97280-2983-11eb-9632-0c228193c496.png)

[2020-11-18 10:52] evilebottnawi commented on #766
https://webpack.js.org/configuration/other-options/#infrastructurelogging

[2020-11-26 06:04] goelshobhit opened #774 "Unable to use loglevel in version 4.0.2"
- Operating System: window 10
- Node Version: 14.15.0
- NPM Version: 6.14.8
- webpack Version: 5.6.0
- webpack-dev-middleware Version:4.0.2

### Expected Behavior

Should be able to use other options inside webpackDevMiddleware apart from below options.

schema: {
    type: 'object',
    properties: {
      mimeTypes: { type: 'object' },
      writeToDisk: { anyOf: [ { type: 'boolean' }, { instanc

[2020-11-26 11:02] evilebottnawi commented on #774
Please read changelog, `logLevel` was removed

[2020-11-26 11:02] #774 closed

[2020-11-30 09:07] zhongzhong0505 opened #778 "support webpack 5"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- webpack-dev-middleware Version:

### Feature Proposal

### Feature Use Case

[2020-11-30 10:51] #778 closed

[2020-11-30 12:33] zhongzhong0505 opened #779 "item.listMap is not a function in webapck5 project"
- Operating System: MacOS big sur
- Node Version: v14.15.1
- NPM Version: 6.14.9
- webpack Version: 5.9.0
- webpack-dev-middleware Version: 4.0.2

### Expected Behavior

### Actual Behavior

### Code

[code]

[code]

### How Do We Reproduce?

[2020-11-30 12:57] #779 closed

[2020-11-30 22:31] Rowleen commented on #68
This worked for me too. Thanks so much!

[2020-12-03 14:32] CaiqueR opened #782 "No colors appearing in terminal"
In webpack-dev-middleware 3.7.2 it worked fine, but in version 4.0.2 it's showing <i> tag, <e> tag.

- Operating System: Ubuntu 20.04
- Node Version: 14.15.1
- NPM Version: 6.14.8
- webpack Version: 5.6.0
- webpack-dev-middleware Version: 4.0.2

### Expected Behavior
Show correct colors in terminal
![image](https://user-images.githubusercontent.com/42003129/101041387-28ef4e80-355b-11eb-846c-ba42fb

[2020-12-03 14:33] alexander-akait commented on #782
It is breaking change, now it uses logger

[2020-12-03 14:33] alexander-akait commented on #782
and respect `stats.colors`

[2020-12-03 17:18] CaiqueR commented on #782
Hmmm, and how to solve that?

[2020-12-03 17:22] alexander-akait commented on #782
we should don't use `logger` for stats, I will fix it tomorrow

[2020-12-03 17:25] CaiqueR commented on #782
Ok, I'm waiting for the fix. Thank you

[2020-12-04 12:47] alexander-akait commented on #782
Anyway, it remove `<i>` and will be output in `stdout`, about colors, you should check the `stats.colors` option

[2020-12-04 12:58] CaiqueR commented on #782
I put it that way:
[code]
But I get that error:
![image](https://user-images.githubusercontent.com/42003129/101166531-2fdb9700-3617-11eb-961b-5ff7a0e549dd.png)

[2020-12-04 12:59] alexander-akait commented on #782
You need set `stats.colors: true` for `compiler`, i.e. `const compiler = webpack({ statis: { colors: true } })`

[2020-12-05 02:53] zlk89 opened #787 "The middleware isn't responsive when webpack 5 is storing cache"
- Operating System: MacOS Catalina
- Node Version: v12.16.1
- NPM Version: 6.13.4
- webpack Version: 5.9.0
- webpack-dev-middleware Version: 4.0.2

### Expected Behavior

The webpackMiddleware should keep serving files, even when webpack is storing cache after compilation.

### Actual Behavior

Browser cannot get any response from the dev server, right after webpack storing cache.

### Code

[code

[2020-12-05 14:58] alexander-akait commented on #787
Sorry can't reproduce, if you need help please provide full steps to reproduce, webpack-dev-middleware don't touch cache and nothing related to this, my code:

[code]

maybe you forgot to run `listen`

[2020-12-05 14:58] #787 closed

[2020-12-15 12:48] 5paceman opened #797 "Update peerDependencies to support webpack@^5.0.0 for webpack-dev-middleware@^3.7.2"
### Feature Proposal
Add `webpack@^5.0.0` as a valid peer dependency for `webpack-dev-middleware@^3.7.2`

### Feature Use Case
`webpack-dev-middleware` started to support `webpack@5` from [v3.7.2](https://github.com/webpack/webpack-dev-middleware/releases/tag/v3.7.2). Actually, the `peerDependencies` in [package.json](https://github.com/webpack/webpack-dev-middleware/blob/v3.7.2/package.json#L31)

[2020-12-15 13:42] alexander-akait commented on #797
Please try https://github.com/webpack/webpack-dev-middleware/releases/tag/v3.7.3

[2020-12-15 13:42] #797 closed

[2020-12-15 17:44] AviVahl opened #799 "v4 is no longer "latest" on npm"
Since the release of v3.7.3, v4.0.2 is no longer marked as "latest".

Output of `npm dist-tags webpack-dev-middleware`:
[code]

FYI @alexander-akait

[2020-12-15 17:46] alexander-akait commented on #799
WIP

[2020-12-15 17:48] alexander-akait commented on #799
Fixed:
[code]

[2020-12-15 21:03] AviVahl commented on #799
Thanks! :+1:

[2020-12-15 21:03] #799 closed

[2020-12-28 22:51] clshortfuse commented on #354
@alexander-akait This bug is back, but slightly different. Unknown mime types are now forced to `application/octet-stream` which means HTML pages (document) with no extension no longer load.

Now Chrome states: `Resource interpreted as Document but transferred with MIME type application/octet-stream: "http://localhost:3000/login".`

I'm testing with the 4.0.0-beta of `webpack-dev-server` to get it

[2020-12-28 23:05] clshortfuse commented on #354
Seems like this new behavior started with https://github.com/webpack/webpack-dev-middleware/commit/b83a1db264b4fb50361264cf98f102b34413bfaa#diff-9a117d52a8a2cb3e5f498575bdfdea4dc32418180c09029454fbaf7f95ebe5a1R76

I'm not seeing any reason specifically why this new behavior was introduced though, or a way to work around it.

[2020-12-29 11:44] alexander-akait commented on #354
Because Node.js do the same?

[2020-12-29 11:45] alexander-akait commented on #354
What is the problem, just use `html` extension or provide mimeTypes

[2020-12-29 18:37] clshortfuse commented on #354
I don't know what you mean. NodeJS doesn't set `Content-Type`. It sets `Transfer-Encoding`, `Connection`, and `Keep-Alive`:

https://github.com/nodejs/node/blob/master/lib/_http_outgoing.js

As explained in the issue from Jan 2019, an explicit `Content-Type` header isn't required.

Having to rewrite all applications to new URLs simply for `webpack-dev-middleware` seems pretty invasive. Also, you c

[2020-12-30 12:25] alexander-akait commented on #354
PR welcome

[2020-12-30 12:27] alexander-akait commented on #354
Should be easy to fix

[2020-12-31 03:44] clshortfuse commented on #354
So, I write the code fix and I'll send in the PR tomorrow. But there's an issue with how to test it...

**Background:**

With, Express if you don't set a `Content-Type`, it will violate spec and send `application/octet-stream` on unknown mime types. With Connect, it doesn't send a `Content-Type` unless you specifically add one. The way the code is written is, basically, "Let's make Connect do what

[2020-12-31 11:42] alexander-akait commented on #354
Yes, I noticed that different frameworks is doing about different things, I think in this case, we just need to leave the commentary in the code and in the documentation

[2021-01-03 14:01] #354 closed

[2021-01-10 13:42] aaarichter commented on #782
hi @alexander-akait

I ran into the same issue, where setting `stats: { colors: true, }` to the webpack config solved the color problem.

Can you elaborate how to get rid of the `<i>` ?

I also looked up the changelog and yes it is mentioned there, but in the RC changes. Shouldn't a major release include & highlight breaking changes? Skimming through various RCs is a bit cumbersome.

[2021-01-11 11:34] alexander-akait commented on #782
It is built-in, you can create custom logger, but it should output with stats, we are working on this, release will be today/tomorrow

[2021-01-12 18:40] #782 closed

[2021-01-12 18:43] alexander-akait commented on #713
I want to close this issue after latest refactor, output tests was moved to separate file, anyway we can improve this better in future, but I think we don't need issue for this, just send a PR

[2021-01-12 18:43] #713 closed

[2021-01-12 18:46] alexander-akait commented on #682
I think we can close it, because we rewrite tests, anyway if it happens again I will reopen this

[2021-01-12 18:46] #682 closed

[2021-01-13 03:03] Ekhrapykin opened #814 "setupHook statsOptions.colors undefined"
Hello,

After #583  for the exception:
`TypeError: Cannot read property 'colors' of undefined`

- Operating System:
- Node Version: v12.18.4
- NPM Version: 6.14.11
- webpack Version: 4.44.1
- webpack-dev-middleware Version: 4.0.3

### Expected Behavior

No error

### Actual Behavior

.../node_modules/webpack-dev-middleware/dist/utils/setupHooks.js:68
} else if (typeof statsOptions.colors === 'unde

[2021-01-13 06:28] uinika commented on #814
webpack built 4333dbf8aa8a0bbf4aab in 13716ms
C:\Workspace\gd-diy-apply\node_modules\webpack-dev-middleware\dist\utils\setupHooks.js:68
      } else if (typeof statsOptions.colors === 'undefined' || typeof statsOptions === 'string') {
                                     ^

TypeError: Cannot read property 'colors' of undefined
    at C:\Workspace\gd-diy-apply\node_modules\webpack-dev-middleware\di

[2021-01-13 06:29] uinika commented on #814
I also got this problem...

[2021-01-13 06:31] uinika opened #815 "typeof statsOptions.colors ... Cannot read property 'colors' of undefined"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- webpack-dev-middleware Version:

### Expected Behavior

webpack built 4333dbf8aa8a0bbf4aab in 13716ms
C:\Workspace\gd-diy-apply\node_modules\webpack-dev-middleware\dist\utils\setupHooks.js:68
      } else if (typeof statsOptions.colors === 'undefined' || typeof statsOptions === 'string') {

[2021-01-13 07:42] fanqidi-xbrother commented on #358
hello ? what did you do to solve this ? i think i have the same problem caused by `http-proxy-middleware`

[2021-01-13 10:35] AviVahl commented on #815
same here, when using `webpack@4`.

[2021-01-13 10:48] alexander-akait commented on #815
Somebody can create example?

[2021-01-13 10:49] alexander-akait commented on #815
@AviVahl I have added tests for webpack@4, but all fine :confused:

[2021-01-13 10:53] alexander-akait commented on #814
Close in favor https://github.com/webpack/webpack-dev-middleware/issues/815

[2021-01-13 10:53] #814 closed

[2021-01-13 11:24] AviVahl commented on #815
Debugged to see what's happening during compilation.
`compiler.options` is defined. `compiler.options.stats` is not. This is causing `statsOptions` === `undefined` making `statsOptions.colors` blow up.
I'll try to create a reproduction.

[2021-01-13 11:31] AviVahl commented on #815
[code]
Now take code from readme and save as `a.js`:
[code]

`node a.js` -> error occurs.

[2021-01-13 11:34] alexander-akait commented on #815
Yep, already found bug, WIP on this, anyway thanks for reproducible test repo, release will be in near future

[2021-01-13 12:24] #815 closed

[2021-01-13 12:27] alexander-akait commented on #815
Please try https://github.com/webpack/webpack-dev-middleware/releases/tag/v4.0.4, I added all cases for `stats`, should be never broken again never, I hope :smile:

[2021-01-13 13:05] AviVahl commented on #815
Works on my end. Thanks! :+1:

[2021-01-13 21:19] clarkdo opened #818 "Support stats option for webpack-dev-middleware"
- Operating System: macOS Catalina
- Node Version: 14.8.0
- NPM Version: 6.14.0
- webpack Version: 4.46.0
- webpack-dev-middleware Version: 4.0.4

### Feature Proposal

Add `stats` option for `webpack-dev-middleware` to control stats printed by `webpack-dev-middleware`

### Feature Use Case

When we use custom plugins for stats output like [webpackbar](https://github.com/nuxt-contrib/webpackbar),

[2021-01-13 21:21] alexander-akait commented on #818
Thanks, I will implement this tomorrow

[2021-01-15 04:23] shhlkien opened #819 "Exclude some routes while bundling"
- Operating System: Ubuntu 20.04
- Node Version: v12.18.4
- NPM Version: 6.14.6
- webpack Version: 4.x
- webpack-dev-middleware Version: ^4.0.2

### Feature Proposal
Add a convenient API or option to exclude some routes from waiting while bundling

### Feature Use Case
When I'm developing API, I don't need to serve assets from webpack. Since `webpack-dev-middleware` delays all requests until bundl

[2021-01-15 11:48] alexander-akait commented on #819
What is real use case? Can you provide example?

[2021-01-15 14:23] #818 closed

[2021-01-15 14:29] clarkdo commented on #818
Thank you so much for the new option!

[2021-01-15 14:32] alexander-akait commented on #818
Sorry for small delay

[2021-01-15 15:05] clarkdo commented on #818
I just opened a pr for updating types definition. https://github.com/DefinitelyTyped/DefinitelyTyped/pull/50645

[2021-01-15 15:08] alexander-akait commented on #818
I think we can implement built-in types here using typescript jsdocs (as we use in webpack and some other repos)

[2021-01-15 15:08] alexander-akait commented on #818
If you want to help, feel free to send a PR :star:

[2021-01-15 15:44] clarkdo commented on #818
I may have a look when I get a chance, feel free to go ahead if it's urgent.

[2021-01-16 01:08] shhlkien commented on #819
The above example is real use case! What point don't you understand?

[2021-01-16 02:34] shhlkien commented on #819
@alexander-akait
 You can see more details [here](https://youtu.be/jnMl2g12i5w)

[2021-01-18 11:41] alexander-akait commented on #819
The main problem - we don't know filename until we do build (also the `filename` option can be `Function`), such use case may not be safe in many cases, but if you have a clear structure, then such use is safe, but `excludeRoutes` is misleading, the best solution is provide `route` for `webpack-dev-middleware`, like `app.use('route', webpackDevMiddleware)`

[2021-01-18 14:19] shhlkien commented on #819
I have thought about this and temporarily use it.  I want a more convenient way as described for those cases that have to be rewritten too much, but if not, then I have to deal with it. Anyway, thank you

[2021-01-18 14:23] alexander-akait commented on #819
can you clarify? you can use `publicPath` as the `route` value (if `publicPath` is the string)

[2021-01-19 14:03] shhlkien commented on #819
Ok, I end up with this solution. Thank for your help!

[2021-01-19 14:03] #819 closed

[2021-01-20 18:17] wardpeet commented on #656
Yes this whas been documented now and part of @types packaging so this is great!

[2021-01-21 13:05] renovate[bot] opened #824 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-27 12:06] mikalai-ramashka opened #827 "asset/resource is not supported"
- Operating System: win 10
- Node Version: v14.15.4
- NPM Version: 6.14.10
- webpack Version: 5.18.0
- webpack-dev-middleware Version: 4.1.0

### Expected Behavior

`webpack-dev-middleware` will correctly work with `asset/resource` module type.

### Actual Behavior

Images are not served.

### Code

webpack.config.js:
[code]

main.tsx:
[code]

node_modules\webpack-dev-middleware\dist\middleware.js

[2021-01-27 12:08] alexander-akait commented on #827
Works fine, `How Do We Reproduce?` your information is not help to help you

[2021-01-27 12:08] #827 closed

[2021-01-27 12:08] alexander-akait commented on #827
Double check you public path

[2021-01-30 15:16] happybeing opened #828 "Get 404 for everything"
This may be support but not for `webpack` so trying here. When I run the server programmatically, I get a 404 for `/` and any other obvious paths I try. Using the same `webpack.config.js` with `yarn webpack-dev-server` CLI works fine.

Here's my code adapted from your first README example:
[code]
This produces the following console output which looks ok (but is different from when I use the CLI, s

[2021-01-30 15:18] happybeing commented on #828
Closing this, hadn't noticed webpack-dev-middleware is part of webpack!

[2021-01-30 15:18] #828 closed

[2021-01-30 15:41] happybeing opened #829 "webpack-dev-middleware needs a plugin to serve index.html whith webpack-dev-server does not"
- Operating System: Ubuntu 20
- Node Version: v15.2.1
- NPM Version: n/a
- yarn version: 1.22.5
- webpack Version: 4.44.2
- webpack-dev-middleware Version: 4.1.0

### Expected Behavior

Should work if webpack-dev-server CLI works.

### Actual Behavior

Using the same `webpack.config.js` that works with `yarn webpack-dev-server`, the `webpack-dev-middleware` server gives 404 for the path '/'.

This

[2021-01-30 15:45] alexander-akait commented on #829
Can't understand problem, `webpack-dev-middleware` has `index` option for this case https://github.com/webpack/webpack-dev-middleware#index, just create `index.html` or setup `HtmlWebpackPlugin` to generate `index.html` for you, so this is expected

[2021-01-30 15:47] alexander-akait commented on #829
If you have 404, it means you don't setup right `publicPath`, you output assets to `public`, setup `publicPath: '/public/'`

[2021-01-30 16:01] happybeing commented on #829
Wow, thanks for the speedy response - not even time to make my coffee!

Are you saying it's expected that the CLI works but the middleware does not with the same config?

If so, maybe the documentation could include information about what the middleware requires in addition to the CLI.

[2021-01-30 16:03] happybeing commented on #829
I forgot to mention that even after I got this working (by adding the HTML plugin, the bundle sizes and other console output are considerably different between running CLI and middleware, though both seem to serve the app. So I'm expecting there's more that I'll need to worry about later.

[2021-01-30 16:05] alexander-akait commented on #829
As I see you use Node.js API, so you need specify `publicPath`, otherwise we just don't have `index.html` so nothing to handle

[2021-01-30 16:41] happybeing commented on #829
There something I'm not understanding here. Can you explain the difference in behaviour with the CLI and the middleware? Just saying 'you need to do x' etc isn't helping me understand.

I have already fixed the problem and have both working, so I created this issue because I think the same config should work with both CLI and middleware. If not, I'd like to understand why not, and maybe save other

[2021-01-30 16:42] alexander-akait commented on #829
I can't understand, what you expected? Auto creating `index.html`?

[2021-01-30 16:48] happybeing commented on #829
Try cloning the repo. The config you seem to think won't work works with `yarn webpack-devserver`. Try it.

And if I add the HTML plugin, it works with the middleware too (using the script I included in the OP).

I'm not sure you have taken on board the reason I opened this issue. I'm NOT asking for help to fix a problem. At this point, I don't think I have a problem! I'm suggesting there's a bug

[2021-01-31 14:45] alexander-akait commented on #829
You need setup `contentBase` (or `static` for webpack-dev-server v4) to serve `public` directory (it is by default for v4).

Yes behavior is different, because `webpack-dev-server` has more middlewares, `webpack-dev-middleware` it is only one part of complex server configurations (it handles only webpack generated files, that is why `HtmlWebpackPlugin` help you). I don't know what we should docume

[2021-01-31 16:44] happybeing commented on #829
The `HtmlWebpackPlugin` is irrelevant to my use case as I'm using static `index.html` amongst other things. My configuration was already working so the reason I opened this issue was not to get help with that, but thank you for your time. I will review the documentation and send a PR as you suggest, because I think it would help to clarify this.

If you this open I'll explain more here and will re

[2021-02-01 10:18] alexander-akait commented on #829
What I should explain here?

[2021-02-01 10:50] happybeing commented on #829
Nothing, I'm not asking a question. I believe you've helped clarify the situation and I plan to create a PR to add this to the documentation. I will add that explanation to this issue to help any others who get stuck on this point.

[2021-02-02 18:03] happybeing commented on #829
I've been looking at the webpack.js.org repo and after cloning it and building etc its quite an onerous process to contribute. As I've no idea if a PR would be accepted, and it's likely a one-off from me, I'm going to provide the information here instead.

The following is written as if it appears under the heading [Using webpack-dev-middleware](https://webpack.js.org/guides/development/#using-web

[2021-02-02 18:03] #829 closed

[2021-02-03 21:58] bduncanj commented on #309
I'm running into a similar issue as outlined in [this SO post](https://stackoverflow.com/questions/66035968/runtime-variable-substitution-in-angular-11-dev-server-response).

In short, I'm using this indirectly with Angular's `ng serve` (WebPack dev server) and I need to be able to embed the URL that the dev-server received the request on into my `index.html` body so that I can calculate a relativ

[2021-02-25 21:20] mboisvertdupras opened #845 "Unable to write to disk, Error: EROFS: read-only file system"
- Operating System: Mac OS 11.2.1
- Node Version: 15.4.0
- NPM Version: 7.0.15
- webpack Version: 5.15.0
- webpack-dev-middleware Version: 3.7.3

### Expected Behavior

When using the `writeToDisk : true` option, files should be written to the output directory

### Actual Behavior

When trying to write the files, wdm outputs an error `｢wdm｣: Error: EROFS: read-only file system, open '/app.css'`

#

[2021-02-26 09:04] ylemkimon commented on #845
The `outputPath` of file-loader is regarded as an absolute path: https://github.com/mboisvertdupras/kinetic/blob/167806ce11ef46409e968e85e97211fcd85f4e61/webpack.config.js#L36.

[2021-02-26 12:39] alexander-akait commented on #845
Answer above, also do not use `file-loader`/`url-loader`/`raw-loader` with webpack v5 https://webpack.js.org/guides/asset-modules/

[2021-02-26 12:39] #845 closed

[2021-03-08 10:31] #824 closed

[2021-03-09 12:01] VitaliiPyvovar opened #854 "Multicompiler publicPath doesn't recognize root folder"
- Operating System: macOS Catalina version 10.15.5
- Node Version: v14.15.1
- NPM Version: 6.14.8
- webpack Version: 4.46.0
- webpack-dev-middleware Version: 4.1.0

**Identical setup worked fine on webpack-dev-middleware Version: 3.7.0**

### Code

[code]

The structure of the build folder is
[code]
Note: some.js is copied in the build/ folder by `copy-webpack-plugin`

### Expected Behavior

We sh

[2021-03-09 12:03] alexander-akait commented on #854
When you specify `publicPath` for middelware you will use this public path for both compilers, you need specify publicPath for each compiler to support it

[2021-03-09 12:45] alexander-akait commented on #854
Can you provide simple example?

[2021-03-09 15:48] VitaliiPyvovar commented on #854
@alexander-akait https://github.com/VitaliiPyvovar/webpack-dev-middleware-issue-ilustration - this repository contains a working solution using webpack-dev-middleware version 3.7.0 in master branch, and broken one in with-error branch featuring webpack-dev-middleware version 4.1.0

[2021-03-09 20:12] alexander-akait commented on #854
Do you want to use the `publicPath` option for `middleware` or allow to using it for each compiler (i.e. no the `publicPath` option for middleware)?

[2021-03-10 09:15] VitaliiPyvovar commented on #854
@alexander-akait both options are fine, in my case either specifying `publicPath` for both compilers as `/static/` or specifying `publicPath` in `middleware` options as `/static/`. The point is to fix `middleware` to interprete right any of this solutions, as it was in `3.7.0` version.

[2021-03-17 01:21] dopry opened #859 "Types are broken with webpack 5."
For those of us using typescript we are running into issued with @types/webpack, @types/webpack-dev-middleware published by DefinitelyTyped.  It would be nice if this packaged included it's own types so we didn't need to depend on definitely typed..

see: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/49755 for context

[2021-03-17 11:59] alexander-akait commented on #859
We don't have built-in types, please open an issue in `DefinitelyTyped`

[2021-03-17 11:59] #859 closed

[2021-03-17 21:00] mdsamaun opened #860 "MSCM"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- webpack-dev-middleware Version:

### Expected Behavior / Situation

### Actual Behavior / Situation

### Modification Proposal

[2021-03-17 21:01] mdsamaun commented on #860
Run

[2021-03-17 21:01] mdsamaun commented on #860
Assinment complete

[2021-03-17 21:02] mdsamaun commented on #860
Oprating system complete

[2021-03-17 21:02] mdsamaun commented on #860
Modification proposol

[2021-03-18 12:15] #860 closed

[2021-03-22 16:26] webpack-bot opened #861 "`output.clean : true` is not working with dev server"
# Bug report

**What is the current behavior?**

`output.clean: true` is not working with webpack dev server, when building for the first time, or when project is rebuilding due to sources change.

## Description
I was trying to configure webpack to clean the dis folder for one of my projects, and decided to use brand new [output.clean configuration](https://webpack.js.org/configuration/output/#ou

[2021-03-22 16:27] alexander-akait commented on #861
I have ideas how we can fix it, but need more time, idea:
[code]

so we will have layer layered file system (memory + real fs)

[2021-04-24 18:31] bendytree commented on #64
These days `noInfo` `quiet` and `stats` have been replaced by [infrastructureLogging][1] in the root of your Webpack config:

    // webpack.config.js
    ...
    infrastructureLogging: {
      level: 'error',
    },

  [1]: https://webpack.js.org/configuration/other-options/#level

[2021-04-28 02:21] indigo-poesies opened #889 "Firebase ads issue"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- webpack-dev-middleware Version:

### Feature Proposal

### Feature Use Case

[2021-04-28 11:18] #889 closed

[2021-05-05 08:47] daniele-orlando commented on #861
I can reproduce the problem with Webpack `5.36`.

[code]

[2021-05-07 16:28] mateusz-owczarek commented on #861
I can reproduce that too with `webpack 5.36.2` and `webpack-dev-server 3.11.2` and the configuration:
[code]

[2021-06-09 06:02] srigar opened #936 "prefetch failed with webpack 5 + webpack dev middleware"
- Operating System: Mac 10.14.6
- Node Version: 12.18.4
- NPM Version: 6.14.6
- webpack Version: webpack 5.38.2
- webpack-dev-middleware Version: 5.0.0

### Expected Behavior

Server should get start without any error with **webpackPrefetch** in dynamic import

### Actual Behavior

Got below error while starting server with webpack-dev-middleware

/Users/Documents/dev/product/build/server.js:21367

[2021-06-09 06:25] srigar commented on #936
seems its an issue with webpack 5 I guess. Let me close it for now

[2021-06-09 06:25] #936 closed

[2021-06-19 01:14] noahehall opened #945 "enable use other than express"
- Operating System: ubuntu
- Node Version: latest
- NPM Version: latest
- webpack Version: latest
- webpack-dev-middleware Version: latest

### Feature Proposal
enable use of other backends. [similar to my hacky approach here](https://github.com/noahehall/webpack-dev-middleware/blob/972e5fdcd227abd87badb7e75cbeba61ae095192/src/middleware.js#L12)

if I could just say 'hey use this middleware instea

[2021-06-19 04:20] anshumanv commented on #945
Seems fair, if there are no means already to support this, @alexander-akait what do you think?

[2021-06-19 12:50] noahehall commented on #945
[here is a working example](https://github.com/noahehall/nodeproto/blob/dev/apps/client/bff/server.mjs)

[2021-06-21 11:17] alexander-akait commented on #945
Yes, why not, PR welcome

[2021-06-21 11:18] alexander-akait commented on #945
We already support connect, express and fastify https://github.com/webpack/webpack-dev-middleware#fastify

[2021-06-21 11:19] anshumanv commented on #945
will PR 👍

[2021-06-21 11:27] alexander-akait commented on #945
Don't forget to add tests :smile:

[2021-06-21 12:02] anshumanv commented on #945
yep, any better name for option?

[2021-06-21 12:05] alexander-akait commented on #945
No need option, it is internal changes, maybe it will work already, maybe we need to use other API to get headers or something else

[2021-06-21 12:06] alexander-akait commented on #945
Example of pure API and express https://github.com/webpack/webpack-dev-middleware/blob/master/src/middleware.js#L105

[2021-06-30 03:11] rockcs1992 commented on #68
Thanks for the tip! Where does the code you posted live btw? I searched in both webpack and webpack-hot-middleware repo but got no luck

[2021-07-08 18:11] Rush opened #966 "Ability to disable "middleware delays requests until compiling has completed." for custom proxy middleware"
- Operating System: openSUSE Tumbleweed
- Node Version: 14
- NPM Version: newest
- webpack Version: newest
- webpack-dev-middleware Version: newest

### Feature Proposal
Ability to disable "middleware delays requests until compiling has completed." for custom proxy middleware

### Feature Use Case
Forwarding API and Websocket requests to a separate Node.JS process. Today, all API / requests need t

[2021-07-12 09:28] alexander-akait commented on #966
You can do it on own side, just create custom proxy server

[2021-07-12 13:34] Rush commented on #966
It needs to run on the same port so it needs to reuse the http server. A viable solution would be to allow hooking before the "wait for changes" middleware is set up.

[2021-07-12 13:39] alexander-akait commented on #966
We can implement `filter` option to filter request

[2021-07-21 22:08] alexander-akait commented on #602
Close in favor https://github.com/webpack/webpack-dev-middleware/issues/945, hope we will improve this in near future

[2021-07-21 22:08] #602 closed

[2021-07-21 22:10] alexander-akait opened #979 "improve multi compiler mode (reuse already watch)"
- Operating System: any
- Node Version: any
- NPM Version: any
- webpack Version: any
- webpack-dev-middleware Version: any

### Feature Proposal

in description

### Feature Use Case

Allow to run multiple dev servers and other good abilities

[2021-07-24 13:55] ioriandy4 opened #984 "How can I show the error infomation to the browser"
How can I show the error infomation to the browser ？ In the webpack-dev-server，i can use the options
`
devServer: {
    overlay: {
      warnings: true,
      errors: true
    }
  }
`
But how can I show the error infomation in webpack-dev-middleware ?

[2021-07-24 15:45] alexander-akait commented on #984
`webpack-dev-middleware` for handling assets, we need `webpack-client-hot-middleware` for this, it will be in future (in our roadmap), after stable release, overlay is out of scope webpack-dev-middleware

[2021-07-24 15:45] #984 closed

[2021-07-26 09:31] ioriandy4 opened #986 "can't use in typescript"
When the typescript file has eslint error ,the webpack-dev-server will crash. I use ts-loader to handle .ts file

First i write the normal code and run the project
[code]
Then i change the code so it has eslint error

[code]

The webpack-dev-server will crash

[code]

[2021-07-27 12:47] alexander-akait commented on #986
Please open an issue in ts-loader

[2021-07-27 12:47] #986 closed

[2021-08-04 15:20] mgdeveloper79 commented on #205
Fix: In Webpack version 5.46.0. Node 14.x.
I am posting this in a hope help others incase if they reach this far and still have not found a fix. So along with many other issues, one possibility is if you are using `html-webpack-plugin`
We are using the `html-webpack-plugin` and the `publicPath` attribute needed to be explicitly set in the properties, which was not the case with the former webpack

[2021-08-09 23:41] noahehall commented on #945
you guys are awesome. @alexander-akait

im planning on testing this tonight. sorry for the delay

[2021-08-12 16:39] sirpenev opened #1004 "The"
Documentation Is:

- [ ] Missing
- [x] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

### Your Proposal for Changes

[2021-08-12 16:40] sirpenev commented on #1004
__

[2021-08-12 16:40] sirpenev opened #1005 "Da"

[2021-08-12 16:47] #1005 closed

[2021-08-12 16:47] #1004 closed

[2021-08-24 06:06] feyyyyylo opened #1009 "k"
Documentation Is:

- [x] Missing
- [ ] Needed
- [ ] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

### Your Proposal for Changes

[2021-08-24 06:09] #1009 closed

[2021-08-30 11:44] alexander-akait commented on #861
No, it will be fixed in near future, we need layer fs

[2021-09-05 14:33] feyyyyylo opened #1020 "**Describe the bug**"
**Describe the bug**
Use the following 2 UIiewRepresentable to mapping Rendereriew in the SwiftUI environment. They both can't guarantee the videoRendererView is always rendering in the SwiftUI view. In some cases, the swiftUI view just lost the video rendererView and displaying an empty view.

[code]

[code]

Need a suggestion in how to use RendererView in swiftUI view.

__Originally posted by @A

[2021-09-06 11:19] alexander-akait commented on #1020
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2021-09-06 11:19] #1020 closed

[2021-09-13 20:51] alexander-akait commented on #1037
Same problem - https://github.com/webpack/webpack-dev-middleware/issues/861

[2021-09-13 23:52] alexander-akait commented on #749
Close in favor https://github.com/webpack/webpack-dev-server/issues/2716

[2021-09-13 23:52] #749 closed

[2021-09-22 15:04] alexander-akait commented on #854
Sorry for delay, that is because you have multiple `output.path` for each compiler, and `some.js` outside from your compiler paths, example you have `/static/some.js`, we understand what `/static/some.js` should be handled webpack-dev-middleware due `/static/` value, then  we add `output.path` to your request, i.e. we try to search files:
- /path/to/build/a/some.js
- /path/to/build/b/some.js

but

[2021-09-22 15:04] #854 closed

[2021-11-13 03:07] josudoey commented on #861
the `output.clean` relase at v5.20.0,and the issue already exists.

[2021-11-16 08:32] Malasses1 opened #1107 "Warrant Officer 1 David E Bowers Jr Royal Family Intercourse 👪 Orgy for Business Administration on Human Resources is Defined in Microfinance Women empowerment plan:"
### Feature Proposal

### Feature Use Case

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

[2021-11-16 08:39] #1107 closed

[2021-11-16 08:43] Malasses1 commented on #1107
The Committee is divided in enumeration of an Spanish Text language in business context of Homes, Food, water and Social Security Right, in the right to work and sufficiently meet the tax requirements of 🏡 students credit in Contractual construction and infrastructure and labor unions agendas in FPU...Sally port.@zkat MarskipRose Garden Palace 😀 😳

[2021-11-16 08:44] Malasses1 opened #1108 "The Committee is divided in enumeration of an Spanish Text language in business context of Homes, Food, water and Social Security Right, in the right to work and sufficiently meet the tax requirements of 🏡 students credit in Contractual construction and infrastructure and labor unions agendas in FPU...Sally port.@zkat MarskipRose Garden Palace 😀 😳"
The Committee is divided in enumeration of an Spanish Text language in business context of Homes, Food, water and Social Security Right, in the right to work and sufficiently meet the tax requirements of 🏡 students credit in Contractual construction and infrastructure and labor unions agendas in FPU...Sally port.@zkat MarskipRose Garden Palace 😀 😳

_Originally posted by @Malasses1 in https://githu

[2021-11-16 08:45] #1108 closed

[2021-11-18 11:12] 29984608 opened #1112 "Options of outputfilesystem is confusing"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

In the example docs, we can use `devMiddleware.outputFileSystem`. In fact, if I use this example docs, the code will prompt undefined error of `outputFileSystem`. I must use `devMiddleware.context.outputFileSystem`

### Your Proposal for Changes

Change examle docs for outputFileSystem o

[2021-11-18 11:52] alexander-akait commented on #1112
Yes, valid usage, using `devMiddleware.context.outputFileSystem`, feel free to send a fix in docs

[2021-11-18 11:58] snitin315 commented on #1112
I will fix it.

[2021-11-18 13:00] #1112 closed

[2021-11-19 01:35] grosscol opened #1114 "Allow setting default mime-type from webpack config."
### Feature Proposal

Configuration option to set default mime-type

[code]

Stack overflow issue detailing the context in which this use case arose: https://stackoverflow.com/questions/70011373/how-to-configure-webpack-dev-server-to-serve-extensionless-files-as-text-html

### Feature Use Case
For developing applications with pages that don't have a file extension.  E.g. localhost:8080/example.  I

[2021-11-19 13:38] alexander-akait commented on #1114
PR welcome

[2021-12-18 08:28] DhirendraSingh100 commented on #66
I am upgrading to Webpack 5 following the steps described [here in Webpack official doc](https://webpack.js.org/migrate/5/#upgrade-webpack-to-5). I have completed all steps applicable & now getting below error. What to do ?
![image](https://user-images.githubusercontent.com/89511013/146634820-f78e3eee-b675-4ce7-8a8f-dda173145e07.png)

Below is my config file

`'use strict';

const errorOverlayMidd

[2021-12-25 11:14] ahmafi commented on #861
Same problem on webpack 5.65.0 and webpack-dev-server 4.6.0

[2022-01-09 16:51] PanKarton commented on #861
Yoooo, still nothing? xD

[2022-01-16 16:08] wood3n opened #1169 "how to disabled webpack-dev-server to log there configurations?"
I just want to set `stats: 'none'` in `devMiddleware`, but it is useless. So how should I do to disabled log these informations? Please help me.

![image](https://user-images.githubusercontent.com/31716713/149667809-bb4bd5ea-0de6-477e-9564-b01d9d22455f.png)

[2022-01-17 11:21] #1169 closed

[2022-01-27 03:54] weilinzung opened #1183 "Namespace '"fs"' has no exported member 'StatSyncFn'."
### Bug report
[code]
 "webpack-dev-middleware": "^5.3.0",
    "webpack": "^5.67.0",

[2022-01-27 10:37] alexander-akait commented on #1183
Please update `node` types

[2022-01-27 13:17] #1183 closed

[2022-01-27 14:01] rudyhuynh commented on #861
I just keep using [clean-webpack-plugin](https://github.com/johnagan/clean-webpack-plugin) then.

[2022-02-05 07:16] octogonz opened #1194 "webpack-dev-middleware/types/index.d.ts requires @types/node@16 when Node.js 12 is still LTS"
### Bug report

Suppose a project is trying to maintain compatibility with Node 12 and/or 14:

1. Try to compile `webpack-dev-middleware` using TypeScript  with `@types/node` version 12.x

### Actual Behavior

[code]

### Expected Behavior

Node.js 12 is still LTS, so `webpack-dev-middleware` should be usable by projects that are trying to maintain support for Node 12 and/or 14.

### Suggested sol

[2022-02-05 13:15] alexander-akait commented on #1194
PR welcome

[2022-02-24 20:59] chavlji commented on #861
:(

[2022-02-28 06:21] yashmudgal05 commented on #66
@DhirendraSingh100 Have you got solution of yours error. Please share with me. It will me very helpful

[2022-03-14 13:55] Noeldesarrollo opened #1221 "Problem with filesystem import"
### Bug report

Pointing to

### Actual Behavior

### Expected Behavior

### How Do We Reproduce?

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

[2022-03-14 14:00] Noeldesarrollo opened #1222 "Problem with file system import"
### Bug report

Pointing to https://github.com/webpack/webpack-dev-middleware/blob/master/types/index.d.ts

line 204:
import("fs").StatSyncFn;

This function doesn't exist on filesystem

### Actual Behavior

Compile error.

### Expected Behavior

import needs to be changed to import("fs").StatSync;

### How Do We Reproduce?

@angular-devkit/build-angular v13.2.6 uses: webpack-dev-middleware": "5.3

[2022-03-14 14:04] #1222 closed, assigned to nobody

[2022-03-18 04:12] wgreenberg opened #1229 "Support for multipart range requests"
### Feature Proposal

Currently, `webpack-dev-middleware` only supports single-range requests, and will return the entire requested resource if multiple ranges are specified (https://github.com/webpack/webpack-dev-middleware/blob/master/src/middleware.js#L215-L218). I didn't see any documentation around this, or previous discussion about why it wasn't supported, so figured it'd be worth requesting

[2022-03-18 11:27] alexander-akait commented on #1229
PR welcome

[2022-04-06 22:31] dgpt commented on #861
Still a bug as of 5.71.0

[2022-04-24 15:32] disarticulate commented on #1229
this affects development with https://flatgeobuf.org/ @ https://github.com/flatgeobuf/flatgeobuf

[2022-05-05 12:57] vjpr opened #1257 "Configurable logging"
### Modification Proposal

Currently, `stats.toString()` is printed on the `compiler.hooks.afterDone` hook, inside a `process.nextTick()` call.

I want to print something after that stats have all printed.

The `nextTick` means that even if I override the hook, I still can't print after it.

I want to be able to disable this hook from being set.

[2022-05-05 13:39] alexander-akait commented on #1257
You can create own plugin and use nextTick too

[2022-05-11 16:17] VinnyFonseca commented on #861
9 months later and still nothing. Is this "near future"?

[2022-05-12 12:43] #1194 closed

[2022-05-13 16:48] matthias-ccri commented on #358
@Foxhoundn what was the fix?

[2022-05-17 20:02] ivanbacher opened #1268 "Bump memfs to 3.4.2"
### Bug report
installed node v18.2.0

Dev server randomly dies with the following error message:

[code]

Found [this issue](https://github.com/streamich/memfs/issues/828) on `memfs` library:

### Actual Behavior

### Expected Behavior

### How Do We Reproduce?

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

[2022-05-17 20:05] alexander-akait commented on #1268
Yep, known issue, described here https://github.com/webpack/webpack-dev-middleware/pull/1260, looks like we have a patch, so I will do release today

[2022-05-17 20:06] ivanbacher commented on #1268
Sorry didn't see that.

Awesome. Thank you.

[2022-05-17 20:30] alexander-akait commented on #1268
Fixed https://github.com/webpack/webpack-dev-middleware/pull/1260, WIP on release

[2022-05-17 20:30] #1268 closed

[2022-05-17 21:32] AviVahl opened #1270 "[5.3.2] .d.ts references dom Request/Response"
### Bug report

new release changed the typings, and where it says `Request/Response`, it references global ones defined by `dom.d.ts`.

### Actual Behavior

[code]

### Expected Behavior

It should pass type checking in strict typescript projects that don't specify `skipLibCheck`.

### How Do We Reproduce?

[code]

### Please paste the results of `npx webpack-cli info` here, and mention other rel

[2022-05-17 22:01] AviVahl commented on #1270
@alexander-akait I believe this is a regression from these changes: https://github.com/webpack/webpack-dev-middleware/pull/1260/files#diff-093ad82a25aee498b11febf1cdcb6546e4d223ffcb49ed69cc275ac27ce0ccce

[2022-05-18 02:12] luoguoxiong commented on #1270
I have the same problem~

[2022-05-18 07:50] nuintun commented on #1270
+1

https://github.com/webpack/webpack-dev-middleware/blob/f88067d31f7f639381cd3fcf6d7c2fd2f23d92f9/types/index.d.ts#L175-L178

`Request_1` and `Response_1` generic definition is unused.

[2022-05-18 13:24] alexander-akait commented on #1270
@AviVahl Weird, we don't touch ts files, just update deps, maybe regression in ts?

[2022-05-18 14:23] alexander-akait commented on #1270
Found ts regression, when you have:
[code]

ts 4.6 consider `Request` and `Response` as global DOM classes (as @AviVahl mention), not as local generics, very weird, let's downdgrade and fix types and report

[2022-05-18 14:38] #1270 closed

[2022-05-27 08:12] Wangggym opened #1281 "How to reference in-memory bundle from webpack-dev-middleware ?"
### Bug report
<img width="797" alt="image" src="https://user-images.githubusercontent.com/26135370/170659007-3b592c09-6b90-4c9e-9e6e-3ef221fb35ac.png">
`
  const path = require('path');
  const myOutputFileSystem = require('my-fs');
  const mkdirp = require('mkdirp');
  const webpackConfig = require('../../webpack.client.dev.js');

  myOutputFileSystem.join = path.join.bind(path); // no need to b

[2022-05-28 00:39] bikeshopagency opened #1282 "Error: EPIPE: broken pipe, write causing livereload to break on Windows"
### Bug report

[code]

### Actual Behavior

Site loads fine the first time, but when a change is made to a source file and live reload is triggered, the site builds the HTML asset but hangs before it's delivered to the browser.

### Expected Behavior

Changing a source file should immediately reload the browser with the updated code.

### How Do We Reproduce?

Windows 10, running Node 16.13.2. Th

[2022-05-28 02:39] alexander-akait commented on #1282
Can you try to create reproducible test repo? Sounds like a bug, but commenting `console.log(printedStats);` is not real fix, sounds like race condition somewrer, removing this you reduce time on output in your console and code is faster so you don't face with the problem

[2022-05-28 22:49] just-boris opened #1283 "Shared content base for multiple compiler instances"
### Modification Proposal

We have the following webpack config:

[code]

Webpack 4 handles such config perfectly allowing to see both themes on a single server via (`/foo/main` and `/bar/main`). With webpack 5 it no longer works (there is a single theme at `/main`).

This happened because of changes in [`getPaths` implementation](https://github.com/webpack/webpack-dev-middleware/blob/master/src/u

[2022-05-29 14:31] alexander-akait commented on #1283
It is potential unsafe, that is why it was changed, you can have the same URL for different files here, why you need it?

[2022-05-30 13:14] alexander-akait commented on #1283
In theory we can implement overriding `outputPath`, so you can override it for any numbers of compiles, I don't want to support it by default, because it is really unsafe

[2022-05-30 14:41] alexander-akait commented on #1283
The main problem here is the same URLs, you can potential create situation when the same URL returns different content, but if you use different directories (like in your example) you should not have these problems

It is not related to `contentBase`, I think we need better name here, but yes, PR welcome, we will improve name in a PR

[2022-06-16 03:53] IanVS commented on #945
Hi, in my understanding, using fastify-express essentially means that you run an express server inside of fastify.  I'd really like to use actual fastify.  Does anyone know of any options to do this?

[2022-06-16 11:25] alexander-akait commented on #945
I can accept PR for adding fastify here and for dev server too

[2022-07-16 09:19] iPhoneakd opened #1316 "appleflagship@gmail.com"
### Feature Proposal

### Feature Use Case

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

[2022-07-16 12:35] #1316 closed

[2022-07-21 04:34] brooksjuice7 opened #1322 "Apple"
### Modification Proposal

### Expected Behavior / Situation

### Actual Behavior / Situation

### Please paste the results of `npx webpack-cli info` here, and mention other relevant information

[2022-07-25 09:59] #1322 closed

[2022-08-05 03:19] ygddgithub commented on #409
I got the same question when I use the webpack-dev-server boot my project

<e>     at Compiler.watch (C:\Users\worker\Desktop\zzy\package\test\node_modules\webpack\lib\Compiler.js:411:19)`
My code:
` **complier.run((err,stat)=>{
     err && console.log(err)
 })**
let ServerConfig:ServerConfiguration = {
    host:"127.0.0.1",
    port:3000,
    hot:true,
    open:false,
}
const devServer = new Webp

[2022-08-10 07:14] Rous110508 opened #1330 "Propuesta"
Documentation Is:

- [x] Missing
- [x] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...

### Your Proposal for Changes

[2022-08-10 07:15] Rous110508 opened #1331 "Nueva propuesta"
Hey there! If you need support, help, or advice then this is not the place to ask.
Please visit [Discussions](https://github.com/webpack/webpack/discussions), [StackOverflow](https://stackoverflow.com/questions/tagged/webpack)
or [the Webpack Gitter](https://gitter.im/webpack/webpack) instead.

[2022-08-10 11:29] #1330 closed

[2022-08-10 11:29] #1331 closed

[2022-10-05 16:12] redcartel commented on #358
I had been running dev in yarn and then for whatever absentminded reason was running it in npm one day and kept getting this problem. Switching back to yarn dev did the trick.

[2022-10-07 21:19] jcreek commented on #861
Still happening for me with `webpack 5.73.0` and `webpack-dev-server 4.9.2`.

[2022-10-27 13:04] puranjayjain commented on #861
Still happens with me as well

[2022-11-01 02:36] antonio-malcolm opened #1374 "Adding Hapi To The Other Servers Section Of README"
Documentation Is:

- [ ] Missing
- [ ] Needed
- [ ] Confusing
- [x] Not Sure?

### Please Explain in Detail...

Hi all, it's good to meet everyone.

I noticed, on the webpack-dev-middleware README, a section for combining it with other servers. Currently, I have both the dev middleware and hot reloading middleware working with Hapi, in what I think is an interesting use case. It may be a bit compl

[2022-11-01 12:42] alexander-akait commented on #1374
Hello, PR welcome

[2022-11-02 18:24] antonio-malcolm commented on #1374
Great, thanks!

[2022-11-10 21:29] brycekunkel commented on #861
Interesting note, I've been using Clean Webpack Plugin while waiting for a solution here, but noticed that after initial bundling, an asset is still available on the localhost even though it's not shown in the file tree. I can still access that asset directly by visiting the link to it in the browser.

[2022-11-11 18:20] MDAkramSiddiqui opened #1383 "Incorrect stats position field in res object"
Documentation Is: ReadMe file

- [ ] Missing
- [ ] Needed
- [x] Confusing
- [ ] Not Sure?

### Please Explain in Detail...
this paragraph is mentioned in the ReadMe file to access stats but checked in code the stats field is not present inside `devMiddleware.context.stats` but in `devMiddleware.stats`
[code]

### Your Proposal for Changes

Either update the code or ReadMe.
[code]

[2022-11-13 15:55] alexander-akait commented on #1383
Feel free to send a fix to docs, just use `devMiddleware.context.stats`

[2022-11-14 03:56] MDAkramSiddiqui commented on #1383
This is what I am saying cannot use stats via this `devMiddleware.context.stats` as context is undefined.

[2022-11-15 01:02] alexander-akait commented on #1383
@MDAkramSiddiqui When you try to get this? Becaue it can be undefined if no builds happend

[2022-11-20 18:22] #656 closed

[2022-11-20 18:22] alexander-akait commented on #656
Resolved

[2022-11-21 10:48] mdakram-swiggy commented on #1383
https://github.com/webpack/webpack-dev-middleware/blob/9d1edd472a20cc6fcbe76ffe634401da6238c8f7/src/middleware.js#L88
Talking about this line, `devMiddleware` is `context` itself

[2022-11-21 10:49] MDAkramSiddiqui commented on #1383
Talking about this line, `devMiddleware` is `context` itself, @alexander-akait
https://github.com/webpack/webpack-dev-middleware/blob/9d1edd472a20cc6fcbe76ffe634401da6238c8f7/src/middleware.js#L88

[2022-11-25 11:33] alexander-akait commented on #1383
Do you have middleware after webpack-dev-middleware? Anyway can you create minimum reproducible test repo, because I can't undestand there is place where you try to get it, thank you